[2020-10-05 09:52] korthout commented on #4853
Hi @aivinog1, great to see you've started on this topic (and welcome back of course).

It would actually be possible in a single PR (Zeebe is a mono repo after all), but I don't prefer that because large PRs are difficult for both the author and the reviewer. So, I totally agree that we should split up the issue into smaller chunks and it would be great to have separate issues for each.

Having sa

[2020-10-05 11:24] Zelldon opened #5477 "Make max appends configurable"
**Description**

The [MAX_APPENDS](https://github.com/zeebe-io/zeebe/blob/develop/atomix/cluster/src/main/java/io/atomix/raft/cluster/impl/RaftMemberContext.java#L34) is used to limit how many appends are send to one follower at once. Currently it is static and set to two. It is likely that this configure can help to improve the throughput. In order to test different numbers we need to make it con

[2020-10-05 11:27] Zelldon opened #5478 "Find a good value for max append per follower"
**Description**

The [MAX_APPENDS](https://github.com/zeebe-io/zeebe/blob/develop/atomix/cluster/src/main/java/io/atomix/raft/cluster/impl/RaftMemberContext.java#L34) is used to limit how many appends are send to one follower at once. Currently it is static and set to two. It is likely that this configure can help to improve the throughput. We should evaluate and benchmark different values to get

[2020-10-05 11:51] npepinpe commented on #5393
I'm totally fine with splitting this in different issues, and yeah, my first guess would be this is a reprocessing issue (but it's unclear to me how we would figure that out).

[2020-10-05 13:24] korthout commented on #4274
Last week, I've worked on making the usage of memory mapped (mmap) files for the log stream possible in replicated systems. We considered multiple solutions:

1. private buffers: splitting the currently shared mapped buffers between the SegmentWriter and SegmentReaders to private mapped buffers, removing the race conditions between the writer and readers during closing (and concurrently reading);

[2020-10-05 15:42] npepinpe commented on #5237
I'm bumping the priority as there is a clear concept, and it will simplify other changes that arose in another PR.

[2020-10-05 16:14] MiguelPires opened #5480 "Refactor ZeebePartition"
**Description**

While investigating issue https://github.com/zeebe-io/zeebe/issues/5117, several issues were raised regarding failure cases that can happen while transitioning between roles. These issues are easy enough to fix but quite complicated to test since the changes would be in the ZeebePartition. The ZeebePartition has a lot of different responsibilities and contains all of the logic for

[2020-10-06 07:35] aivinog1 commented on #4853
@korthout Hi, many thanks for such a detailed explanation! :)

[2020-10-06 07:42] aivinog1 opened #5481 "A gateway should know a partition health."
**Is your feature request related to a problem? Please describe.**
This issue is a part of #4853. To respond to the client a gateway should know partition health.

**Describe the solution you'd like**
To implement this, you'll need to use gossip to inform the gateway of the partition health. Start by adding additional info to the membership gossip protocol. Add an additional map from partition to

[2020-10-06 07:46] aivinog1 opened #5482 "A gateway should response with a broker's partition health"
**Is your feature request related to a problem? Please describe.**
This is a part of #4853. After #5481 needs to modify the RPC level.

**Describe the solution you'd like**
The next step is changing how the gateway the responds to a Topology command (RPC). This starts with changing what the response can be, but also requires an implementation change. The response definition can be found here: http

[2020-10-06 07:48] aivinog1 opened #5483 "Clients should show a partition health"
**Description**
This is a part of #4853, created from https://github.com/zeebe-io/zeebe/issues/4853#issuecomment-703527007.

As a last step, you need to change the client's implementation of what to do with the Topology response. For the go client see: https://github.com/zeebe-io/zeebe/blob/develop/clients/go/cmd/zbctl/internal/commands/status.go#L47 and https://github.com/zeebe-io/zeebe/blob/deve

[2020-10-06 08:30] jwulf commented on #3445
Post in the forum: https://forum.zeebe.io/t/may-i-know-when-will-zeebe-support-es-7-x/1651/3

[2020-10-06 08:31] jwulf commented on #3445
Should we go straight to ES8, to get ahead of the curve?

[2020-10-06 08:55] pihme opened #5486 "StorageException: java.nio.channels.AsynchronousCloseException"
**Describe the bug**
Error reported in production log.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CLGKlOPtw-niYw?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / PROD / 0.24.3

[2020-10-06 08:57] pihme opened #5487 "UncheckedIOException: java.nio.file.NoSuchFileException"
**Describe the bug**
Observed in production log.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CM3_pPb5yeCowwE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.3

[2020-10-06 08:58] pihme opened #5488 "UncheckedIOException: java.nio.file.NoSuchFileException"
**Describe the bug**
Observed in production log.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CM3_pPb5yeCowwE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.3

[2020-10-06 09:01] pihme opened #5490 "ModelParseException: SAXException while parsing input stream"
**Describe the bug**
Observed as error in production logs.

**Expected behavior**
- SAXParisng exceptions are not logged as error

**Log/Stacktrace**
https://console.cloud.google.com/errors/CK7AzeKf3rSTYA?service=zeebe&time=P7D&project=camunda-cloud-240911
https://console.cloud.google.com/errors/COn7jpDXj4qlPQ?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Pr

[2020-10-06 09:03] pihme opened #5492 "IllegalStateException: journal not open"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CKOY9Z3RpK7oLw?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2

[2020-10-06 09:04] pihme opened #5493 "IllegalStateException: Log reader inconsistent with log writer"
**Describe the bug**
Error observed in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CNvDkoOl5JG8_QE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.3

[2020-10-06 09:06] pihme opened #5495 "KryoException: java.nio.BufferUnderflowException Serialization trace: data (io.atomix.raft.zeebe.ZeebeEntry)"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CO7t-Krt55OdUg?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2

[2020-10-06 09:07] pihme opened #5496 "Error Reporting Error Details zeebe All versions Open IndexOutOfBoundsException: Cannot truncate committed index"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CLaAir3VyNrd9AE?service=zeebe&time=P7D&project=camunda-cloud-240911
https://console.cloud.google.com/errors/CLi_kfLOyJ2SCA?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2, 0.24.3

[2020-10-06 09:09] pihme opened #5497 "IllegalArgumentException: could not create Raft data directory directory: /usr/local/zeebe/data/raft-partition"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CNnys4T99ryF_wE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.3

[2020-10-06 09:09] pihme opened #5498 "IllegalArgumentException: could not create Raft data directory directory: /usr/local/zeebe/data/raft-partition"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CNnys4T99ryF_wE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.3

[2020-10-06 09:11] pihme opened #5499 "NoSuchFileException: /usr/local/zeebe/data/raft-partition/partitions/2/pending/..."
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CKiZxdXr5JmINA?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2

[2020-10-06 09:12] pihme opened #5500 "IllegalStateException: Expected to find event with the snapshot position ..."
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CKnfqtj3lqTxaw?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.3

[2020-10-06 09:16] pihme opened #5501 "RuntimeException: java.io.UncheckedIOException: java.nio.file.NoSuchFileException: /usr/local/zeebe/data/raft-partition..."
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CMrRvpP8i6OuygE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2

[2020-10-06 09:22] pihme commented on #5487
Duplicate issue #5488

[2020-10-06 09:22] #5487 closed

[2020-10-06 09:26] pihme opened #5502 "Illegal State Exception - Inconsistent log"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/COaIrJHbxtWuaw?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2, 0.24.3

[2020-10-06 09:28] pihme opened #5503 "Unexpected error on retrieving commit position"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CKSU4cOXvJbGzQE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.23.4

[2020-10-06 09:30] pihme opened #5504 "IllegalStateException: Iterator is closed (ReProcessingStateMachine)"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CK_M1tm5u9mg6QE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2

[2020-10-06 09:31] pihme opened #5505 "MessagingException$RemoteHandlerFailure: Remote handler failed to handle message"
**Describe the bug**
Observed as error in production logs

**Log/Stacktrace**
https://console.cloud.google.com/errors/CKT115CooYK3_wE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.23.4, 0.24.2

[2020-10-06 09:36] pihme opened #5506 "KryoException: Encountered unregistered class ID: 71"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CN6-vs-5n-TG1QE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2

[2020-10-06 09:41] pihme opened #5507 "IndexOutOfBoundsException: Index 41 out of bounds for length 0"
**Describe the bug**
Observed as error in production logs.

[code]

**Log/Stacktrace**
https://console.cloud.google.com/errors/CLWM3sScgtD7mAE?service=zeebe&time=P7D&project=camunda-cloud-240911

<details>
  <summary>Stacktrace</summary>
  <p>

[code]

  </p>
</details>

**Environment:**
Camunda Cloud / Prod / 0.24.2

[2020-10-06 09:42] pihme opened #5508 "IllegalStateException: Failed to recover from snapshots"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CITb7cLhrbydDA?service=zeebe&time=P7D&project=camunda-cloud-240911
https://console.cloud.google.com/errors/CMjKx4_Hy8nQeA?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2, 0.24.3

[2020-10-06 09:45] pihme opened #5509 "ElasticsearchExporterException: Failed to put index template (503, timeout)"
**Describe the bug**
Observed as error in production log.

**Expected behavior**
* Zeebe is robust against 503 errors, timeouts from Elasticsearch
* 503 responses are not logged as errors
* timeouts are not logged as errors

**Log/Stacktrace**
https://console.cloud.google.com/errors/CNSazOy7rtzhlwE?service=zeebe&time=P7D&project=camunda-cloud-240911
https://console.cloud.google.com/errors/CNX1zKu-

[2020-10-06 09:50] pihme opened #5510 "NPE in ProcessMessageStartEventMessageNameValidator.validateMessageName"
**Describe the bug**
Observed as error in production logs.

**Expected behavior**
* no NPEs in input validation

**Log/Stacktrace**
https://console.cloud.google.com/errors/CK-E7ry54eavQA?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2, 0.24.3

[2020-10-06 09:52] pihme opened #5511 "IndexOutOfBoundsException in LogSttreamReader"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/COKX89Cps72ocQ?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2

[2020-10-06 09:54] pihme opened #5512 "ElasticsearchExporterException: Failed to put index template (unknown host)"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CIeD1OHpx4PtLw?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2

[2020-10-06 09:55] pihme commented on #5512
@npepinpe Let us talk about this issue when you are back

[2020-10-06 09:58] pihme opened #5513 "DirectoryNotEmptyException"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CJWc79PagJbCXQ?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / 0.24.2, 0.24.3

[2020-10-06 10:00] pihme opened #5514 "ElasticsearchExporterException: Failed to put index template (connection closed)"
**Describe the bug**
Observed as error in production logs

**Expected Behavior**
* Connection is reestablished when closed/lost/broken

**Log/Stacktrace**
https://console.cloud.google.com/errors/CPG6hcnFn5vaoAE?service=zeebe&time=P7D&project=camunda-cloud-240911
https://console.cloud.google.com/errors/CJ2d_LTPvY3JxwE?service=zeebe&time=P7D&project=camunda-cloud-240911
https://console.cloud.google.

[2020-10-06 10:01] pihme opened #5515 "StorageException: java.nio.channels.ClosedChannelException"
**Describe the bug**
In the broker, the following error is logged:
[code]

**To Reproduce**
This issue occurred in Camunda Cloud: https://console.cloud.google.com/errors/CK3m2sbdxqPj5gE?service=zeebe&time=P7D&project=camunda-cloud-240911

This issue was logged multiple times over a longer period.

It seems that the error is caused by a previous error (`StorageException$OutOfDiskSpace: Not enough s

[2020-10-06 10:03] pihme opened #5516 "ExecutionException: newPosition < 0: (5408435 < 0)"
**Describe the bug**
Observed as error in production log.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CPXerpP32dP2pgE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod /  0.24.2

[2020-10-06 10:05] pihme opened #5517 "BufferOverflowException: null"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CK62_IPX_6nzIg?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2, 0.24.3

[2020-10-06 10:09] pihme opened #5518 "MessagingException$NoRemoteHandler: No remote message handler registered for this message"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/COeS4vn5-Je6jwE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2, 0.24.3

[2020-10-06 10:12] pihme opened #5519 "IllegalStateException: Failed to bootstrap client"
**Describe the bug**
Observed as error in production log.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CPz0-cH8xbyFqAE?service=zeebe&time=P7D&project=camunda-cloud-240911
https://console.cloud.google.com/errors/CPHr1prk786i-AE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2, 0.24.3

[2020-10-06 10:13] pihme opened #5520 "NPE in ElasticsearchExporter.close"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CLTn46ac8f_LyQE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2

[2020-10-06 10:14] pihme commented on #5519
@npepinpe to be discussed

[2020-10-06 10:17] pihme opened #5521 "IllegalStateException: MessagingService is closed."
**Describe the bug**
Observed as error in production logs

**Log/Stacktrace**
https://console.cloud.google.com/errors/CMLY97D_86v2aw?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.3

[2020-10-06 13:57] edward-sh commented on #5404
Hello @npepinpe. I'm sorry for delay with answering. We have decided to update broker to the latest version at the next day after opening this issue and watch how it will work. Unfortunately we have purged all the data so it isn't possible to provide the information that you requested. We are monitoring our Zeebe Broker now and I think it's better to reopen this issue and provide all needed inform

[2020-10-06 14:44] RedUno commented on #5425
Hello,
I have the same issue here with the same configuration (3 nodes (3 partitions, 3 replication factor) ), a node is stuck for hours ( logs bellow), restarting it doesn't fix the problem.
`status` command return same topology when executed from the affected node or the other tow, as bellow the broker 2 is missing.
[code]

[code]

[2020-10-07 07:40] npepinpe commented on #5470
As more of us rotate on the medic role, if this becomes too annoying, let's revise the priority.

[2020-10-07 07:50] npepinpe commented on #5478
As with the other one, we can revise the priority if we see that this could help us reach our current performance goal sooner.

[2020-10-07 07:53] npepinpe commented on #5481
Hey @aivinog1, I assume you'll be working on this :slightly_smiling_face: Just an FYI, low priority here means we'd be happy to have this, but the core team will not work on this anytime soon - you're still more than welcome to do so.

[2020-10-07 07:55] aivinog1 commented on #5481
@npepinpe Hi, sure I'm working on these three tasks that I created. Thanks, I'll do my best on it :)

[2020-10-07 08:07] npepinpe commented on #5486
From the looks of it, it occurred once, and no production users are affected (yet). It seems to stem from the fact [our readers are not thread safe](https://github.com/zeebe-io/zeebe/issues/4198). From looking at the [logs ](https://console.cloud.google.com/logs/query;query=resource.labels.namespace_name%3D%226122e231-7df7-4e0e-9f83-bbbd4eebbefc-zeebe%22%0Aresource.labels.container_name!%3D%22oper

[2020-10-07 08:23] #5460 closed

[2020-10-07 11:49] #5294 closed

[2020-10-07 11:52] Zelldon opened #5525 "I can't activate jobs with a high max job count"
**Describe the bug**

Reported by an user I have investigate an issue where it seems they are not able to activate more jobs. They changed the default configuration of the `maxMessageSize` to `128KB` and experienced errors in the broker which indicate that job batch record is to large.

**To Reproduce**
 * Run a cluster with `maxMessageSize` set to `128KB`
 * Run our starters to create a backlog o

[2020-10-07 12:04] npepinpe commented on #5394
Hi @sccalabr, this is the specific line where log this: https://github.com/zeebe-io/zeebe/blob/c29fc16a5cc71797bed157946d3ee17a77ca63e3/broker/src/main/java/io/zeebe/broker/clustering/topology/TopologyManagerImpl.java#L192

The idea here would be to additionally log what is the local node's static configuration, and what is the remote node's static configuration (explicitly), so we can better diag

[2020-10-07 13:57] npepinpe commented on #5291
I think this will be fixed by #5522 ?

[2020-10-07 14:12] MiguelPires commented on #5291
The refactor won't fix it but the fix for #5117 will I think. The refactor just makes it possible to write tests for it so it needs to be merged before I can work on the bug

[2020-10-07 15:03] AshishMhrzn10 opened #5530 "Add logo and badges"
**Description**

I want to add logo of zeebe and some badges in README.md.

[2020-10-08 03:27] cgupta-GL commented on #3888
Hi  @Zelldon,

I am using zeebe 0.24.0 but getting the same error but the error is not consistent .Earlier it will go  for a retry and got connected but now its not connecting.

Caused by: io.zeebe.client.api.command.ClientStatusException: Time out between gateway and broker: Request type command-api-1 timed out in 20000 milliseconds
	at io.zeebe.client.impl.ZeebeClientFutureImpl.transformExecutio

[2020-10-08 06:11] Zelldon commented on #3888
Hey guys I was talking about this fix https://github.com/zeebe-io/zeebe/pull/3629 . Here we fixed the logging of negative timeouts. It might be that timeout is sometimes still logged with a smaller value then given, if this is the case then please respond here then I will investigate further **BUT** from my current knowledge this is actually not a bug just bad logging since we recalculating the ti

[2020-10-08 07:39] npepinpe commented on #5488
Let's investigate this as soon as possible - expected impact is that you cannot delete data, but it's unclear if this happens often or not to the same clusters. So let's answer the following:

1. How often in a given cluster does it happen?
1. Is it transient (does it resolve upon restart)?
1. Confirm that the impact is what I stated (and not worse)

[2020-10-08 07:44] npepinpe commented on #5490
It seems we already handle this properly from a user POV, so we should simply not log this particular error.

[2020-10-08 07:58] npepinpe commented on #5525
Let's make sure we properly handle not returning more jobs than we can fit in there.

[2020-10-08 08:03] npepinpe commented on #5416
Some users ran into stability issues when running with even factor, though to be honest it's unclear to me if those issues were because of that or something else.

So let's keep it around, but print a warning on start up so users are aware this isn't a use case we explicitly support.

[2020-10-08 09:36] aivinog1 commented on #164
@npepinpe @Zelldon Hi! I would like to take this one. As I understand needs to make a task available after some backoff policy configured to it, am I right? :)

[2020-10-08 09:48] npepinpe opened #5537 "Investigate impact of Kryo as serialization format"
**Description**

While working on different things, we came across evidence that Kryo may have a bigger negative impact than we expected. On one hand, there seems to be a non-negligible performance impact. This was observed when merging a PR we later rollbacked, where we ended up deserializing Raft log entry twice - and saw throughput halved by a factor of 2, which was completely unexpected (as de

[2020-10-08 09:49] npepinpe commented on #164
Both @Zelldon and @saig0 can help you out there (if one is too busy)

[2020-10-08 11:59] pihme opened #5538 "ConnectException: Failed to send request to command-api-1, no remote address found."
**Describe the bug**
Observed as error in production logs

**Log/Stacktrace**
https://console.cloud.google.com/errors/CLfq8Mup-Ku8Gg?service=zeebe&time=P7D&project=camunda-cloud-240911

<details><summary>Full Stacktrace</summary>
 <p>

[code]

[2020-10-08 12:01] pihme opened #5539 "RequestRetriesExhaustedException: Expected to execute the command on one of the partitions, but all failed"
**Describe the bug**
Observed as error in the production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CL2RrKb-yLGuuAE?service=zeebe&time=P7D&project=camunda-cloud-240911

<details><summary>Full Stacktrace</summary>
 <p>

[code]

</p>
</details>

**Environment:**
Camunda Cloud / Prod / 0.24.2, 0.24.3

[2020-10-08 12:03] pihme opened #5540 "ZeebePartition-3 failed, marking it as unhealthy"
**Describe the bug**
Observed as error in production logs.

**Expected behavior**
Should be logged at most as warning

**Log/Stacktrace**
https://console.cloud.google.com/errors/COLeu9btrqXoDw?service=zeebe&time=P7D&project=camunda-cloud-240911
https://console.cloud.google.com/errors/CLHr_6rOjdftngE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Environment:**
Camunda Cloud / Prod / 0.24.2

[2020-10-08 12:06] pihme opened #5541 "NoSuchElementException: Expected an appender, but none found, most likely we are not the leader io.zeebe.logstreams.storage.atomix.AtomixLogStorage.append (AtomixLogStorage.java:57)"
**Describe the bug**
Observed as error in production logs

**Expected behavior**
This should be logged at most as warning

**Log/Stacktrace**
https://console.cloud.google.com/errors/CKeL1YX1oJjEHg?service=zeebe&time=P7D&project=camunda-cloud-240911

<details><summary>Full Stacktrace</summary>
 <p>

[code]

</p>
</details>

**Environment:**
Camunda Cloud / Prod / 0.24.2, 0.24.3

[2020-10-08 12:10] pihme opened #5542 "TimeoutException: null (on startup)"
**Describe the bug**
Observed as error in production log.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CLCjqt7DwtfRBw?service=zeebe&time=P7D&project=camunda-cloud-240911

<details><summary>Full Stacktrace</summary>
 <p>

[code]

</p>
</details>

**Environment:**
Camunda Cloud / Prod / 0.24.3

[2020-10-08 12:12] pihme opened #5543 "Node is no longer leader for partition ..."
**Describe the bug**
Observed as errors in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CN72pr-lkObnSQ?service=zeebe&time=P7D&project=camunda-cloud-240911

Report location lambda$sendResponse$5 (AtomixServerTransport.java:139)

**Environment:**
Camunda Cloud / Prod / 0.23.4, 0.24.2, 0.24.3

[2020-10-08 12:15] pihme opened #5544 "StatusRuntimeException: INTERNAL: Unexpected error occurred during the request processing"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CPrSnu_tr4DxuQE?service=zeebe&time=P7D&project=camunda-cloud-240911

<details><summary>Full Stacktrace</summary>
 <p>

[code]

</p>
</details>

**Environment:**
Camunda Cloud / Prod / 0.23.4, 0.23.6

[2020-10-08 12:17] pihme opened #5545 "StatusRuntimeException: NOT_FOUND: Expected to execute command, but ..."
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CK_KsKz0ipGPoAE?service=zeebe&time=P7D&project=camunda-cloud-240911

<details><summary>Full Stacktrace</summary>
 <p>

[code]

</p>
</details>

**Environment:**
Camunda Cloud / Prod / 0.23.4

[2020-10-08 12:19] pihme opened #5546 "IllegalStateException: LeaderRole is closed and cannot be used as appender"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CLrc5aeIuMGltQE?service=zeebe&time=P7D&project=camunda-cloud-240911

<details><summary>Full Stacktrace</summary>
 <p>

[code]

</p>
</details>

**Environment:**
Camunda Cloud / Prod / 0.23.4, 0.23.6, 0.24.2, 0.24.3

[2020-10-08 12:20] pihme opened #5547 "NoSuchElementException: Expected an appender, but none found, most likely we are not the leader"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CKKIzPGP0MfPpQE?service=zeebe&time=P7D&project=camunda-cloud-240911

<details><summary>Full Stacktrace</summary>
 <p>

[code]

</p>
</details>

**Environment:**
Camunda Cloud / Prod / 0.23.4, 0.23.6

[2020-10-08 12:24] pihme opened #5548 "StatusRuntimeException: INTERNAL: Unexpected error occurred during the request processing"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CJ_A97zNyaeZtgE?service=zeebe&time=P7D&project=camunda-cloud-240911
https://console.cloud.google.com/errors/CILJi8Tx8t2nkQE?service=zeebe&time=P7D&project=camunda-cloud-240911

<details><summary>Full Stacktrace</summary>
 <p>

[code]

</p>
</details>

**Environment:**
Camunda Clou

[2020-10-08 12:26] pihme opened #5549 "IllegalStateException: Failed to execute CommandLineRunner"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CImxzMiKoOOs3gE?service=zeebe&time=P7D&project=camunda-cloud-240911

<details><summary>Full Stacktrace</summary>
 <p>

[code]

</p>
</details>

**Environment:**
Camunda Cloud / Prod / 0.24.3

[2020-10-08 12:29] pihme commented on #5539
duplicate of #5186

[2020-10-08 12:29] #5539 closed

[2020-10-08 12:59] korthout commented on #3606
It wasn't fully fixed... See: https://ci.zeebe.camunda.cloud/job/zeebe-io/job/zeebe/job/develop/4054/

[2020-10-09 01:59] devil-cyber commented on #5419
Hey @deepthidevaki can you provide some more details I would like to work on this issue

[2020-10-09 09:44] pihme opened #5555 "RejectedExecutionException: event executor terminated"
**Describe the bug**
Observed as error in production logs.

**Log/Stacktrace**
https://console.cloud.google.com/errors/CMis_a-_s_DqoAE?service=zeebe&time=P7D&project=camunda-cloud-240911

<details><summary>Full Stacktrace</summary>
 <p>

[code]

</p>
</details>

**Environment:**
Camunda Cloud / Prod / 0.24.3

[2020-10-09 10:05] #3606 closed

[2020-10-09 11:10] Young200808 commented on #3445
@jwulf I suggest we should upgrade to ES7 for meet most of the user's requirement first.  And currently, ES7 is the most widely used in production

[2020-10-09 14:36] sebascarra commented on #5426
Hi, I was wondering if there is an ETA on this? Thank you @npepinpe

[2020-10-09 14:42] npepinpe commented on #5426
It's still the same - we're busy planning the new quarter, but I should be able to work on this soon.

[2020-10-09 14:50] sebascarra commented on #5426
Thank you for the reply and thanks for the work you all do.

[2020-10-10 06:48] Young200808 commented on #3445
@salaboy May I know is there any plan or release date on zeebe supporting ES7?

[2020-10-10 17:12] aivinog1 commented on #5378
@npepinpe @saig0 Hi! While I'm waiting for responses from issues/review, I would like to take this one :)

[2020-10-10 17:44] aivinog1 commented on #5113
@Zelldon @npepinpe Hi! I would like to take this one. It is pretty clear to me :)

[2020-10-12 00:48] jwulf commented on #3544
Totally agree. Let's make this happen!

[2020-10-12 07:31] Zelldon opened #5564 "Exceptions on exporting are logged as errors"
**Describe the bug**

We currently log in the ExporterContainer all exceptions which happen during exporting as errors
https://github.com/zeebe-io/zeebe/blob/develop/broker/src/main/java/io/zeebe/broker/exporter/stream/ExporterContainer.java#L143

This causes a lot of errors in our Error reporting tool, since it can happen that elastic is not available.
https://console.cloud.google.com/errors/CK7m

[2020-10-12 07:39] Zelldon commented on #5564
This will also happen when DNS resolution problems happen like:

[code]

[2020-10-12 07:39] npepinpe commented on #5492
Looking at the logs, in all cases what happens it the broker failed to start under 5 minutes - it got all the way to installing the stream processor, but then starting closing. Could be that we don't interrupt the last step as we start closing on time out (meaning the stream processor being installed finishes what it's doing even though we started closing). Either way, impact seems minimal since t

[2020-10-12 07:55] Zelldon opened #5565 "Failed to convert JSON to MessagePack in Gateway"
**Describe the bug**

If currently an error/exception happens during converting JSON to MsgPack in the gateway then this is logged as error in the Gateway.

We should try to differentiate here:

 * If it was valid JSON and can't be converted to MsgPack then this is an error which we should log. We should then also print the input so we are able to reproduce this error.
 * If  the JSON was invalid

[2020-10-12 08:00] deepthidevaki commented on #5493
Logs before this exception:
[code]

Another occurence:

[code]

In both cases it seems to have occurred after the node went out of disk space. It is not expected. It seems there is no corrupted data. But need more investigation.

[2020-10-12 08:09] npepinpe commented on #5495
The cause is Kryo attempting to deserialize an entry of length X, but the buffer containing the bytes to deserialize has length Y < X, and thus causes a buffer underflow. What the error message gives us is that it happens when attempting to deserialize the `data` field of a `ZeebeEntry`, which itself is a byte buffer. Could be an error in the serde of byte buffers (but then would occur more often,

[2020-10-12 08:28] saig0 commented on #5507
Could be related to

[code]

This happened just before the other error message.

[2020-10-12 08:29] Zelldon commented on #5565
Currently when the grpc message comes in the variables are not validated whether it is valid json or not, https://github.com/zeebe-io/zeebe/blob/develop/gateway/src/main/java/io/zeebe/gateway/RequestMapper.java

[2020-10-12 09:00] Zelldon commented on #3687
Have seen this again in 0.23.6 :eyes:

https://console.cloud.google.com/logs/viewer?resource=k8s_container%2Fcluster_name%2Fultratest%2Fnamespace_name%2Fc5ade93b-0ae2-4619-aa9a-9e2883724039-zeebe%2Fcontainer_name%2Fzeebe&logName=projects%2Fcamunda-cloud-240911%2Flogs%2Fstdout&expandAll=false&timestamp=2020-10-09T16:02:23.647000000Z&dateRangeStart=2020-10-09T15:02:23.647Z&dateRangeEnd=2020-10-09T17

[2020-10-12 09:14] #5472 closed

[2020-10-12 09:14] #5477 closed

[2020-10-12 09:37] Zelldon opened #5568 "Re-processing detects inconsistency due to Deployment distribution"
**Describe the bug**

We currently do the deployment distribution on processing and if this haven't succeed we retry this also on reprocessing https://github.com/zeebe-io/zeebe/issues/3124. This means it might happen that we write a new record (Deployment DISTRIBUTED) on reprocessing, which we haven't written on normal processing, since we haven't got all responses.

This behavior is detected by o

[2020-10-12 10:00] Zelldon commented on #5360
@deepthidevaki do you think this https://console.cloud.google.com/logs/viewer?resource=k8s_container%2Fcluster_name%2Fultratest%2Fnamespace_name%2F8235f864-3a5b-4cbe-a9f6-a335d478fb26-zeebe%2Fcontainer_name%2Fzeebe&logName=projects%2Fcamunda-cloud-240911%2Flogs%2Fstdout&expandAll=false&timestamp=2020-10-11T13:42:12.351000000Z&dateRangeStart=2020-10-11T12:42:42.299Z&dateRangeEnd=2020-10-11T14:42:42

[2020-10-12 11:11] deepthidevaki commented on #5360
Inconsistency due to this issue happens when a leader steps down. The resulting log can miss some events from the new leader.
@Zelldon  When this linked error happened - was broker-3 leader, it steps down and became leader before the logs were compacted?

[2020-10-12 11:13] Zelldon opened #5569 "LogStorage is closed during transition to follower [0.23]"
**Describe the bug**

It seems in 0.23.6 happen some problems during role transition, e. g. https://github.com/zeebe-io/zeebe/issues/5291 and https://github.com/zeebe-io/zeebe/issues/5117. These issues seem also to happen in one of our clusters in camunda cloud.

A node becomes leader, becomes follower stop again some services but is not able to stop all, since they can't be interrupted. Then it w

[2020-10-12 11:26] Zelldon commented on #5360
Hey @deepthidevaki there were a lot of role changes at this time :grin:
![roles](https://user-images.githubusercontent.com/2758593/95741256-3f310a80-0c8e-11eb-8bfd-a21e924176a3.png)

But it seems for partition 4 it was **not** the case that the new leader was the same broker.
![partitions4](https://user-images.githubusercontent.com/2758593/95741393-7b646b00-0c8e-11eb-829a-c013d9f59aff.png)

[2020-10-12 11:34] deepthidevaki commented on #5360
Then I don't think this is related.

[2020-10-12 11:35] deepthidevaki commented on #5360
Can we get some idea when this position was written - before or after the last leader change?

[2020-10-12 11:45] Zelldon commented on #5360
You mean checking the log and find out what kind of term it is? And comparing with log statements ? Or do you have an another idea?

[2020-10-12 11:48] deepthidevaki commented on #5360
Does this version have the processing metric - zeebe_stream_processor_last_processed_position and zeebe_log_appender_last_appended_position - available?

[2020-10-12 11:55] Zelldon commented on #5360
Unfortunately not  :see_no_evil:

[2020-10-12 11:58] npepinpe opened #5570 "Add an experimental configuration flag to disable explicit flushing in Raft"
**Is your feature request related to a problem? Please describe.**

We currently explicitly flush on every follower append and every leader commit. This is done to ensure consistency with our majority quorum consensus, i.e. if a follower acknowledges that it has written an entry, we must guarantee it was persisted to the underlying storage, otherwise we cannot guarantee quorum. Say, for example, w

[2020-10-12 12:07] #4274 closed

[2020-10-12 13:23] Zelldon opened #5572 "Run chaos experiments against all cluster plans"
**Description**

Currently we run the chaos experiments only against M, we should run them against all cluster plans.

[2020-10-12 13:27] Zelldon opened #5573 "Create new Zeebe cluster for each chaos run"
**Description**

Currently we use always the same Zeebe cluster, since the new cloud api exist we could create new clusters before running the chaos experiments.

Ideally we reuse the logic of the Zeebe testbench, since it already able to talk with the cloud api.

We could design a new test workflow, which creates all types for clusters, reads all experiments for that cluster type and runs then al

[2020-10-12 14:23] korthout commented on #4274
I've ran some additional benchmark tests to validate the stability as well as the performance improvements made by #5463

In this comment I will try to provide a comprehensive overview of both the test and the results in such a way that they can also be reproduced by others. At the end, I'll provide a TL;DR.

## The test setup

All of the following tests are performed using our own benchmark proje

[2020-10-12 14:24] Zelldon commented on #5393
I was able to extract the workflow from the data snapshot via zdb. Really cool :D

[code]
[code]

![lottery](https://user-images.githubusercontent.com/2758593/95757320-4adcfb00-0ca7-11eb-8074-64e493893c9f.png)

I can now try to reproduce this issue. I will deploy it with 0.24 and then migrate to 0.24.2, lets see what happens.

[2020-10-12 15:03] Zelldon commented on #5393
Was able to reproduce it with [docker compose](https://github.com/zeebe-io/zeebe-docker-compose/tree/master/simple-monitor).

I started the docker compose with:

[code]

Deployed the workflow above, created a new instance.

![publish](https://user-images.githubusercontent.com/2758593/95761384-84643500-0cac-11eb-90a8-63d0d2f9fdb3.png)

Publish a message and in the same moment try to force kill the

[2020-10-12 15:21] pihme opened #5575 "Remove documentation after migration to new location"
**Description**

As part of the documentation consolidation all documentation will be moved to another repository. Therefore, documentation in this repository shall be removed.

[2020-10-12 16:26] korthout commented on #5315
Future work: #4879

[2020-10-12 20:07] gunanidhisagria opened #5578 "custom serializer configuration for zeebe Java client"
Currently, there is no way to set the custom Object serializer to zeebe for serializing variables while creating workflowInstance.

The below statements describes the problem:
Assume, I am creating a Map object where multiple key-value pairs I am setting which all need to set as variables into workflowInstance.

Map<String, Object> **variable**=new HashMap<String,Object>();
variables.put("interact

[2020-10-12 23:15] ChandaB commented on #5396
@npepinpe Is this still a valid issue?  It appears a pull request was already opened and merged?

[2020-10-13 03:26] saig0 commented on #5393
Nice job @Zelldon :+1:

[2020-10-13 04:46] npepinpe commented on #5396
Ah, correct, this can be closed.

[2020-10-13 04:46] #5396 closed

[2020-10-13 05:22] #5378 closed

[2020-10-13 05:47] aivinog1 commented on #164
Hi @Zelldon @saig0! Can you give me some insights into this? :)

And maybe you know some pitfalls or helpers for me? :)

[2020-10-13 07:18] deepthidevaki commented on #5419
@devil-cyber Thank you for your interest in contributing to the project.

Currently setting the advertised host and port for commandApi and internalApi is broken See https://github.com/zeebe-io/zeebe/issues/5426#issuecomment-699877638 . So I would suggest to wait until that issue is resolved before we update the docs.

Assuming it works well, you can set the advertised port for commandApi and inte

[2020-10-13 07:43] npepinpe commented on #5493
Would be interesting to improve the error message to write the expected position and the actual position, as we do with most error messages.

[2020-10-13 11:42] saig0 opened #5581 "Fail to reprocess records from previous version"
**Describe the bug**
When upgrading Zeebe to a new version then it can happen that a partition fails to start and stays unhealthy after the upgrade.

The issue is caused by a conceptional problem in the reprocessing. On reprocessing, the broker restores/rehydrates the data (i.e. RocksDB) by reading the records on the log stream and do the processing again (without writing any follow-up record). If

[2020-10-13 11:49] saig0 commented on #5581
To improve the situation, we implemented a check in the reprocessing to detect such situations (#5381), and an endpoint to trigger a snapshot creation (#5405).

[2020-10-13 12:15] saig0 opened #5582 "Write a Zeebe upgrade guide for K8s/Helm"
**Description**

Extent the upgrade guide that was introduced with #5534 by a section on how to do the upgrade with K8s/Helm.

[2020-10-13 13:17] #5443 closed

[2020-10-13 14:33] sebascarra opened #5585 "Does Zeebe support writing to and reading from TLS-only Elasticsearch clusters?"
Question is if I can enable TLS in the application.yml for Zeebe Operate deploymennt and the Zeebe Cluster statefulset, so I can have Zeebe interact with a TLS-protected Elasticsearch cluster.

The following issues from February 2019 indicate the answer might be "no" but I wanted to confirm there have been no further developments on this.

https://github.com/zeebe-io/zeebe/issues/1990
https://gith

[2020-10-13 14:47] #5394 closed

[2020-10-13 15:12] #5570 closed

[2020-10-13 18:57] Zelldon commented on #5548
@npepinpe I assume this is now fixed or better handleded with the gw refactoring?

Btw I miss some labels here? Is the bot not working?

[2020-10-14 06:09] Zelldon commented on #5582
In your referenced PR you write:

This is something you should mention in this issue or at least to me :see_no_evil:

So instead of the normal helm upgrade we would do an uninstall and install again.

[2020-10-14 07:14] #5223 closed

[2020-10-14 07:36] npepinpe commented on #5582
Check whether this issue should be opened on the docs repo instead

[2020-10-14 08:48] #5237 closed

[2020-10-14 11:46] denissabramovs commented on #4761
Same issue here, just used your docker-compose example from operate folder.

[2020-10-14 12:00] Zelldon commented on #4761
@denissabramovs could you please provide some more information about your setup please?

[2020-10-14 12:01] #5480 closed

[2020-10-14 12:04] denissabramovs commented on #4761
Ok i guess i have found the reason.
Resolved it.
So the issue is that the name of the workflow should be reflected inside xml itself.
Inside Zeebe Modeler it is not obvious.
So the general id should match with the name of workflow we are trying to deploy.
So it is not the name of the file, but the name given inside the flow planner.

[2020-10-14 12:05] denissabramovs commented on #4761
So in the this issue owner case, he should give the workflow name as `Process_1iddwk3` instead of `test-process` from `bpmnProcessId: 'Process_1iddwk3',`

[2020-10-14 12:06] denissabramovs commented on #4761
[code]

[code]

Are these correct?

[2020-10-14 12:07] denissabramovs commented on #4761
from my runtime after resolving this:
[code]

[2020-10-14 12:17] denissabramovs commented on #4761
Hope this will help someone else, because i found this issue via google.

[2020-10-14 12:40] denissabramovs opened #5589 "Incident retry is not working"
[code]
This is raised as an incident, but retrying it from Comunda Operate dashboard, doesn't retry the task.

This is the curl request for retrying
[code]

This is was was in the logs of docker-compose:

[code]

In gateway zeebe server tons of logs about something blocking...
[code]

[2020-10-14 12:42] denissabramovs commented on #5589
It seems that request related to workflow 2251799813685945 was actually sent to Zeebe server, but nothing was reflected in the logs.

Maybe i can enable some debugging logs to find more info about 2251799813685945 incident and whether it was accepted or queued.

How i can see all queued operations in Zeebe?

[2020-10-14 12:48] denissabramovs commented on #5589
but when using `handlers.failure('This is a critical failure and will raise an incident', 0)`, incident can be retried, possibly it is an issue of node.js framework

[2020-10-14 14:14] Zelldon commented on #5521
Failed again on 0.24.3

https://console.cloud.google.com/logs/viewer?resource=k8s_container%2Fcluster_name%2Fproduction%2Fnamespace_name%2Fae62a34c-3f1b-43c0-a8ff-c03f4e527aa4-zeebe%2Fcontainer_name%2Fzeebe&logName=projects%2Fcamunda-cloud-240911%2Flogs%2Fstdout&expandAll=false&timestamp=2020-10-14T07:50:00.013000000Z&dateRangeStart=2020-10-14T06:50:00.013Z&dateRangeEnd=2020-10-14T08:50:00.013Z&pr

[2020-10-14 15:01] korthout opened #5590 "Automatic backports"
**Description**

Backporting bugfixes to previous versions takes a lot of time. We'd like to have this automated.

[2020-10-14 16:27] npepinpe opened #5592 "Removal of ZbLogger"
**Description**

As we can now change the log level dynamically, is `ZbLogger` still necessary? As far as I can tell, it does mostly what the Log4J logger does already, so from my point of view we could just remove ZbLogger, unless someone knows why we should not. We can keep `ContextLogger` for now - though this would be superseded once SLF4J 2.0 is released (with the new structure API).

[2020-10-15 04:34] saig0 commented on #164
Yes, correct. The idea is that a client (Java/Go/Zbctl) can specify an optional backoff time when sending a [JobFailed command](https://github.com/zeebe-io/zeebe/blob/develop/gateway-protocol/src/main/proto/gateway.proto#L187-L196). If a backoff time is set then the job will be available after the backoff time. Otherwise, the job will be available immediately (current behavior).

The internal logi

[2020-10-15 05:10] aivinog1 commented on #164
@saig0 Thanks, I got it :) I think there will be three PRs for that issue.

[2020-10-15 07:15] sdorokhova commented on #2403
This is implemented in Operate and will be relesed in upcoming v.0.25.0. Can be tested in v. 0.25.0-alpha2 .
(Corresponding issue is https://jira.camunda.com/browse/OPE-1006)

Configuration parameters are:
[code]

[2020-10-15 12:14] pihme opened #5595 "Add BPMN TCK tests to build test stage"
**Description**

The BPMN TCK tests (https://github.com/saig0/bpmn-tck) shall be integrated into the test stage of Zeebe builds.

[2020-10-15 12:16] pihme opened #5596 "Add QA stage as part of release process"
**Description**
To make the release process more robust, we want to add a dedicated QA stage during which exhaustive QA tests shall be run.

[2020-10-15 12:16] pihme opened #5597 "Run chaos tests for version to be released before a release"

[2020-10-15 12:17] pihme opened #5598 "Run cluster testbench E2E tests for version to be released"

[2020-10-15 12:17] pihme opened #5599 "Run benchmark/load test for version to be released"

[2020-10-15 12:18] pihme opened #5600 "Automate deployment to dev and int"

[2020-10-15 12:18] pihme opened #5601 "Automate release process"

[2020-10-15 12:18] pihme opened #5602 "Run upgrade tests against previous patch version"

[2020-10-15 12:19] pihme opened #5603 "Test rollback, in case an update introduces new bugs"
(e.g. Run upgrade test with reversed versions to test rollba

[2020-10-15 13:41] korthout opened #5604 "Investigate performance"
**Description**

Using async profiler a flamegraph of a single broker in the cluster can be easily created (see: https://github.com/zeebe-io/zeebe/blob/develop/benchmarks/docs/scripts/profile.sh).

This issue contains a collection of flamegraphs of the current state of Zeebe under different configurations, loads and situations. It can be used to further investigate the performance.

|Version|Cfg|L

[2020-10-15 13:44] korthout commented on #5604
The last 4 flamegraphs show the current latency cycling we've seen:

<img width="1387" alt="Screenshot 2020-10-15 at 15 42 51" src="https://user-images.githubusercontent.com/3511026/96137592-1c585d80-0efd-11eb-9554-1b3825d7f960.png">

[2020-10-15 15:57] Zelldon commented on #4002
# One column Family

I did a "spike" and tried this out on a new branch https://github.com/zeebe-io/zeebe/tree/zell-one-column-family.

## What I did

 * On opening the db we just creating one column family, which is default.
 * On accessing a column family we using a prefix which is equal to the ordinal of the enum.
 * All keys are replaced by compositekeys internally - DbLong + actualKey, where

[2020-10-16 05:13] Zelldon opened #5608 "Build Benchmark Application Images on normal build"
**Description**

We currently never build our benchmark applications, like starter and worker. Furthermore we are not creating a new image after we changed something. In order to be sure that the changes we applied to them are working and we using the right version, we should build the docker images as part of our build pipeline.

[2020-10-16 07:16] Zelldon commented on #5564
New appeared with 0.24.4 version https://console.cloud.google.com/errors/CMGi_Onz05uKgwE?service=zeebe&time=P7D&project=camunda-cloud-240911&authuser=1

[2020-10-16 07:18] Zelldon commented on #5565
Appeared in new version 0.24.4 https://console.cloud.google.com/errors/CPXK9rWWqJLrOg?service=zeebe&time=P7D&project=camunda-cloud-240911&authuser=1

[2020-10-16 09:15] Zelldon opened #5610 "Re-processing detects inconsistency due to Deployment rejection"
**Describe the bug**

Looks related to https://github.com/zeebe-io/zeebe/issues/5568.
After roll out of 0.23.7 in camunda cloud a new error was reported today

Related error group

https://console.cloud.google.com/errors/CKi8ndiBx7_KJA?service=zeebe&time=P7D&project=camunda-cloud-240911&authuser=1

An E2E cluster is failing because of this.

**To Reproduce**
Need to be investigated.

**Expected be

[2020-10-16 09:26] Zelldon commented on #5292
I have seen this again in a failing IT tests, which caused bors to fail.

Related build https://ci.zeebe.camunda.cloud/job/zeebe-io/job/zeebe/job/staging/2336/

Output:
[output.zip](https://github.com/zeebe-io/zeebe/files/5390540/output.zip)

[2020-10-16 09:45] Zelldon opened #5611 "Concurrent persisiting and failing an received snapshot"
**Describe the bug**

It seems that during receiving an snapshot it can happen that concurrent the snapshot can be marked as valid and also be marked as failed, at least the logs indicates that.

[code]

Found via Error reporting tool, related error group https://console.cloud.google.com/errors/CJuimPeqsIjLPw?service=zeebe&time=P7D&project=camunda-cloud-240911&authuser=1

**To Reproduce**
IDK

**E

[2020-10-16 10:56] Zelldon opened #5612 "Unexpected error on recovery happens [0.24.4]"
**Describe the bug**

It seems on a 0.24.4 cluster in camunda cloud an unexpected error happens.
Related error group
https://console.cloud.google.com/errors/CLabwK6f84DrhwE?service=zeebe&time=P7D&project=camunda-cloud-240911&authuser=1

[code]

**To Reproduce**
IDK

**Expected behavior**
No issues

**Log/Stacktrace**
If possible add the full stacktrace or Zeebe log which contains the issue.

<deta

[2020-10-16 13:56] Zelldon opened #5613 "Embedded Gateway is started to early"
**Describe the bug**
If we using the embedded gateway then we start it as step 6, but the cluster services later also the topology etc.

This means we accepting already requests at the gateway, but we will not be able to handle them since we have no topology and we are not taking part of the cluster.

This can cause issues like this:

[code]

Reported in error tool, related error group: https://co

[2020-10-16 14:09] Zelldon commented on #5186
Was reported again 4 million times already for 0.24.4

https://console.cloud.google.com/errors/CNfOpafbsbySzgE?service=zeebe&time=P7D&project=camunda-cloud-240911&authuser=1

[2020-10-16 14:11] Zelldon commented on #5486
Happened again in 0.24.4

[code]

https://console.cloud.google.com/errors/CPjbt9KpxaLITA?service=zeebe&time=P7D&project=camunda-cloud-240911&authuser=1

[2020-10-16 15:50] salaboy commented on #3445
@Young200808 @PekopT It is not planned for this Quarter, but we will re-evaluate early next year. The team current priority is stability and performance for Camunda Cloud. I hope you can understand the reason behind it. We will highly appreciate feedback on Camunda Cloud.

[2020-10-16 15:51] salaboy commented on #2908
@avocraft @vtexier and all.. this feature is not planned for this Quarter, but we will re-evaluate early next year. The team current priority is stability and performance for Camunda Cloud. We highly appreciate the feedback and if you are trying out Camunda Cloud, please let us know what you think about it.

[2020-10-18 16:37] denissabramovs commented on #5589
Doesn't worth to dive into this. I'm closing it. Not Zeebe problem, but js client implementation.

[2020-10-18 16:37] #5589 closed

[2020-10-19 05:58] Zelldon commented on #4430
Happens again. I saw that on two unrelated PR's failing.
`io.zeebe.broker.it.clustering.SingleBrokerDataDeletionTest.shouldNotCompactNotExportedEvents`
https://github.com/zeebe-io/zeebe/pull/5588 and https://github.com/zeebe-io/zeebe/pull/5534

[code]

<details>
<summary>LOG</summary>
<pre>

04:46:17.849 [] [main] INFO  io.zeebe.test - Test started: shouldNotCompactNotExportedEvents(io.zeebe.broke

[2020-10-19 06:02] Zelldon commented on #5292
This causes from time to time failing IT tests and it is not really visible in jenkins, since surefire can't open so big xml files.
If you open the normal .txt output files you can see it.

[code]

We should fix this.

[2020-10-19 06:06] Zelldon commented on #5005
It is really hard to reproduce. I tried it with intellij run until failure no "luck" and with loop in bash also not.

Error log from a failing build:

<details><summary>LOG</summary>
<pre>
16:17:06.018 [] [main] INFO  io.zeebe.test - Test started: shouldReportUnhealthyWhenRaftInactive(io.zeebe.broker.it.health.HealthMonitoringTest)
16:17:07.109 [] [Time-limited test] INFO  io.zeebe.test.util.Socke

[2020-10-19 06:11] Zelldon commented on #5005
With putting stress on my cpu's I was able to reproduce it. (stress --cpu 8)

[2020-10-19 06:49] jooble commented on #4396
Hi, i have similar problem. I noticed its 2 days ago when i had zeebe version 0.23.0, after that i updated cluster on 0.24.4 and this version fixed all my problem, but not today that problem has returned and i don`t know what happened.
I have 0.24.4 zeebe broker and zeebe gateway and spring zeebe.

[2020-10-19 07:02] jooble opened #5619 "[Similar] Long Polling is blocked even though jobs are available on the broker"
Hi, I have similar problem. I noticed its 2 days ago when i had zeebe version 0.23.0, after that i updated cluster on 0.24.4 and this version fixed all my problem, but today that problem has returned and i don`t know what happened.
I have 0.24.4 zeebe broker and zeebe gateway and spring zeebe.

_Originally posted by @jooble in https://github.com/zeebe-io/zeebe/issues/4396#issuecomment-711688057

[2020-10-19 07:05] saig0 commented on #5610
This failure might be expected. We fixed some deployment issues in this version (#5253, #5248, #5247). If one of the deployment issues happened before then the deployment is rejected now. So, it is detected as inconsistent.

[2020-10-19 07:11] jooble commented on #5619
My gateway`s logs (with configuration)

[code]

My broker`s logs

[code]

[2020-10-19 07:14] jooble commented on #5619
My java application`s logs

[code]

In this logs you can see that jobs get from gateway every 20 seconds (request timeout), but that jobs available on broker

[2020-10-19 07:18] Zelldon commented on #5610
Thanks @saig0, so actually this also means you can't use this cluster anymore.

[2020-10-19 07:25] saig0 commented on #5610
Well. In order to rescue the cluster :medical_symbol:, you can restore the last version and follow the new update procedure (i.e. creating a snapshot before the upgrade to avoid reprocessing).

[2020-10-19 08:11] saig0 commented on #5506
Happened again on `0.24.4`: (https://console.cloud.google.com/errors/CKKRstaF1ZWPew?service=zeebe&time=P7D&project=camunda-cloud-240911)

[code]

From the logs (https://console.cloud.google.com/logs/query;query=%0AlogName:%22stdout%22%0Aresource.type%3D%22k8s_container%22%0Aresource.labels.cluster_name%3D%22ultratest%22%0Aresource.labels.namespace_name%3D%228235f864-3a5b-4cbe-a9f6-a335d478fb26-zee

[2020-10-19 08:20] jooble commented on #5619
And sometimes i have normal behavior

[code]

But usually i have bad behavior

[code]

[2020-10-19 08:24] jooble commented on #5619
I forgot to send my bpmn
![image](https://user-images.githubusercontent.com/17269790/96419711-2fb94080-11fd-11eb-8959-09ffd47c1ca3.png)

There are three copies of one worker(SlackWorker). They just send message and print measureMillis in console(time for slack).

[2020-10-19 08:27] jooble commented on #5619
My worker, if that important

[code]

Spring properties - default

There is kotlin and coroutines(without blocking thread) but it isn`t affect on timeouts

[2020-10-19 08:43] jooble commented on #5619
And if i increase the number of instances, then the processing goes without timeout, but timeouts appear immediately when the creation of instances turns

[2020-10-19 08:53] Zelldon commented on #5610
@afirth are you are interested in rescuing your e2e cluster ? :laughing: :sweat_smile:

[2020-10-19 09:10] afirth commented on #5610
cc @urbanisierung @ztombol
me personally.... :fire:

[2020-10-19 09:31] ztombol commented on #5610
This is an old cluster still running 0.22.1. Let's upgrade if upgradable and see if it comes alive. If not, let's burn it.

[2020-10-19 09:53] ztombol commented on #5610
Just found out that this is not an upgradable generation. Let's burn it.

[2020-10-19 12:01] saig0 opened #5620 "ElasticsearchExporter.createRootIndexTemplate throws NPE"
**Describe the bug**
A NPE is thrown in `ElasticsearchExporter.createRootIndexTemplate (ElasticsearchExporter.java:180)` when trying to export a record.

**To Reproduce**
This issue occurred in Camunda Cloud: https://console.cloud.google.com/errors/CMrgk72Hq8yaXg?service=zeebe&time=P7D&project=camunda-cloud-240911

It seems to be related to a `No space left on device` exception that happens at the

[2020-10-19 12:28] Zelldon commented on #5005
I think we have several issues here.

1. is the high resource consumption of our build, where the builds and thread competing a lot against available resources.
2. The issue @korthout found what he has fixed with https://github.com/zeebe-io/zeebe/pull/5614
3. An issue with the actor closing and inactive transition

### Description of issue three:

I have seen an test failing with the following log

[2020-10-19 12:30] saig0 opened #5621 "RaftClusterContext.<init> throw NPE"
**Describe the bug**
A NPE is thrown in `io.atomix.raft.cluster.impl.RaftClusterContext.<init> (RaftClusterContext.java:88)` when trying to start the broker/partition.

**To Reproduce**
This issue occurred in Camunda Cloud: https://console.cloud.google.com/errors/CKiro-TlxpzmtAE?service=zeebe&time=P7D&project=camunda-cloud-240911

This seems to be a race condition because the broker is closed at t

[2020-10-19 13:07] saig0 opened #5624 "Unexpected value type in command response"
**Describe the bug**
In the gateway, the following error is logged:
[code]

It seems that the response is mapped to the wrong request. As a result, the client may not receive the response.

**To Reproduce**
This issue occurred in Camunda Cloud: https://console.cloud.google.com/errors/COflgoCR7tbWdA?service=zeebe&time=P7D&project=camunda-cloud-240911

This issue was logged a few times.

A few timeo

[2020-10-19 13:23] zeromberto opened #5625 "OAuth Token Refreshment in Go Client"
**Describe the bug**
The go client does not automatically refresh the oauth2 token when it expires. The token refreshment is currently triggered in `OAuthCredentialsProvider.ShouldRetryRequest`. Since this method never gets executed during the client usage in the job poller the client never gets a refrehed token and all subsequent requests fail.

**To Reproduce**
- Create new client with OAuth
- C

[2020-10-19 13:38] aivinog1 opened #5626 "Broker can delay failed tasks before reprocessing."
**Is your feature request related to a problem? Please describe.**
This is a broker's part of #164. The idea is that a client (Java/Go/Zbctl) can specify an optional backoff time when sending a JobFailed command. If a backoff time is set then the job will be available after the backoff time. Otherwise, the job will be available immediately (current behavior).

**Describe the solution you'd like**

[2020-10-19 13:49] aivinog1 opened #5627 "Gateway can instruct the broker to delay tasks and have a GRPC API for that."
**Is your feature request related to a problem? Please describe.**
This is a gateway's part of #164. The idea is that a client (Java/Go/Zbctl) can specify an optional backoff time when sending a JobFailed command. If a backoff time is set then the job will be available after the backoff time. Otherwise, the job will be available immediately (current behavior).

**Describe the solution you'd like**

[2020-10-19 13:51] aivinog1 opened #5629 "Clients can set an optional backoff time to the failed tasks."
**Is your feature request related to a problem? Please describe.**
This is the client's part of #164. The idea is that a client (Java/Go/Zbctl) can specify an optional backoff time when sending a JobFailed command. If a backoff time is set then the job will be available after the backoff time. Otherwise, the job will be available immediately (current behavior).

**Describe the solution you'd like*

[2020-10-19 15:43] jooble commented on #5619
I have found a workaround https://github.com/zeebe-io/zeebe/pull/4660
Disabled long polling fixed that problem, but it isn`tt what i want

[2020-10-19 18:46] jooble opened #5635 "Elasticsearch exporter: List urls for connection"
I want to use list urls for configure es exporter, because i have es with some nodes

As in es`s docs - https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/java-rest-high-getting-started-initialization.html

[2020-10-20 09:32] saig0 opened #5638 "BrokerErrorException: Received error from broker (PARTITION_LEADER_MISMATCH)"
**Describe the bug**
In the gateway, the following error is logged:
[code]

This error is expected when the leader of the partition is changed. No need to log it as an error.

**To Reproduce**
This issue occurred in Camunda Cloud: https://console.cloud.google.com/errors/CLewlMij0eqgkAE?service=zeebe&time=P7D&project=camunda-cloud-240911

This issue was logged a few times.

**Expected behavior**
Th

[2020-10-20 10:01] PinoNTK commented on #4942
@npepinpe we got the same issue when using Zeebe version 0.22.x. We run benchmarks with various versions from 0.21.x to the latest 0.25.x and the results are quite same as yours. With version 0.21.x (0.21.0-alpha3), we see Zeebe can make use of CPUs. It means CPUs' usage is high and equal in each core but it is low with the other versions. I think maybe we're missing some configs?
Have you figured

[2020-10-20 11:28] PinoNTK opened #5639 "Speed of creating workflow instances drops significantly with higher Zeebe versions"
Hi, we are currently using Zeebe version 0.22.5 after upgrading from Zeebe version 0.21.0-alpha3 and trying to run benchmarks on it but the results are not what we expected. With each version, we run the following test command:
[code]
and get the following results:
- __Version 0.21.0-alpha3__
![Screenshot from 2020-10-20 16-43-35](https://user-images.githubusercontent.com/26008333/96578650-b8b8a08

[2020-10-20 12:29] aivinog1 opened #5640 "Refactor BrokerInfo and TopologyManagerImpl to meet Sonar requirements"
**Description**

In #5529 after adding a `partitionHealth`, I've added some tech debt that needs to be fixed.

1. Remove `@SuppressWarnings` that I added in `BrokerInfo` and `TopologyManagerImpl`
2. Refactor these classes to meet Sonar requirements.

For some insights see: https://github.com/zeebe-io/zeebe/pull/5529#issuecomment-709984132

[2020-10-20 13:06] Zelldon commented on #5292
[code]

See in our latest benchmarks it seems that we are not able to join on the leader correctly.

[2020-10-20 13:12] #5005 closed

[2020-10-20 14:00] #3913 closed

[2020-10-20 15:14] MiguelPires opened #5641 "Gateway communicated with broker in different cluster"
**Describe the bug**
The benchmark for the 0.25 release went down today (20/10) at around 03:14 when broker 2 restarted and broker 0 and 1 got stuck in an election loop. It seems like 0 and 1 are not able to communicate so one broker starts an election and is elected until, eventually the other broker starts another election because it doesn't get heartbeats. More or less around this time this was

[2020-10-20 16:04] Zelldon commented on #5641
[code]

How is this possible :scream:

[2020-10-20 16:12] Zelldon commented on #5641
Checked the pods hostnames:

[code]

Configmap:

[code]

[2020-10-20 16:32] #5481 closed

[2020-10-20 17:07] denissabramovs opened #5642 "A lot of logs noise and CPU hungy long polling leaking handlers/listeners"
**Describe the bug**
https://www.loom.com/share/6cc01879ee024d488c4c81eb68a324e3
A lot o noise in the logs of zeebe server, after multiple restarts on zeebe-client.
Noise is coming from long polling implementation.
Slack related thread: https://zeebe-io.slack.com/archives/C6WGNHV2A/p1603124425146800

@korthout found out that there was a problem with clearing listeners related to long polling:

**T

[2020-10-20 18:00] Zelldon commented on #5641
Found the same [log](https://console.cloud.google.com/logs/viewer?interval=JUMP_TO_TIME&authuser=1&project=zeebe-io&minLogLevel=0&expandAll=false&timestamp=2020-10-20T00:53:21.857000000Z&customFacets=&limitCustomFacetWidth=true&advancedFilter=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22zeebe-io%22%0Aresource.labels.location%3D%22europe-west1-b%22%0Aresource.labels.cluster

[2020-10-20 18:18] Zelldon commented on #5641
[Kube events:](https://console.cloud.google.com/logs/viewer?interval=JUMP_TO_TIME&authuser=1&project=zeebe-io&minLogLevel=0&expandAll=false&timestamp=2020-10-20T01:11:02.677000000Z&customFacets=&limitCustomFacetWidth=true&advancedFilter=%0AjsonPayload.kind%3D%22Event%22&scrollTimestamp=2020-10-20T01:29:47.000000000Z&dateRangeStart=2020-10-20T00:11:02.677Z&dateRangeEnd=2020-10-20T02:11:02.677Z)

[c

[2020-10-20 18:36] Zelldon commented on #5641
The release 0.24.4.rc2 gateway has no topology.

[code]

[2020-10-21 03:34] #5442 closed

[2020-10-21 04:13] feliqueres commented on #5565
Hi, @Zelldon! Your Google Cloud links are not open, I'm not allowed to open these. Can you share the JSON content who causes the exception?

[2020-10-21 05:08] saig0 commented on #5515
Happened again in `0.24.4`:
https://console.cloud.google.com/logs/query;query=%0AlogName:%22stdout%22%0Aresource.type%3D%22k8s_container%22%0Aresource.labels.cluster_name%3D%22ultratest%22%0Aresource.labels.namespace_name%3D%224e6de936-a992-4f41-b171-2025b4f182e6-zeebe%22%0Aresource.labels.container_name%3D%22zeebe%22;timeRange=2020-10-16T04:03:43.065Z%2F2020-10-16T05:03:43.065Z;pinnedLogId=2020-1

[2020-10-21 05:29] saig0 opened #5645 "RaftPartitionServer.stop throws NPE"
**Describe the bug**
In the broker, the following error is logged:
[code]

**To Reproduce**
This issue occurred in Camunda Cloud: https://console.cloud.google.com/errors/CNS5wb7Io4jAnQE?service=zeebe&time=P7D&project=camunda-cloud-240911

This issue was logged more than 2.000 times.

It seems to be related to a previous error when bootstrapping the cluster service of the broker (NPE in `RaftCluste

[2020-10-21 07:11] Zelldon commented on #5639
Hey @PinoNTK

thanks for reporting this.

We are aware of that and currently working on improving the situation. The next release (0.25.0) allows you to use memory mapped file again, which will improve the situation. See related issue https://github.com/zeebe-io/zeebe/issues/4274.
We have several other issues open which should improve the performance, you can find them via searching for the label

[2020-10-21 07:11] #5639 closed

[2020-10-21 07:29] aivinog1 opened #5646 "Sonar configuration should meet Zeebe's code style"
**Description**

For now, in [Sonar](https://sonarcloud.io/dashboard?branch=develop&id=io.zeebe%3Azeebe-root) there is plenty of different code smells, bugs, security vulnerabilities. Some of them could be resolved by updating Sonar's config that should reflect Zeebe's code style.

[2020-10-21 07:29] korthout commented on #5642
I've given this `Impact: Usability`, because the issue concerns only 2 things:
1. a message is more often logged at DEBUG level than necessary
2. a long polling request from the gateway to a broker is unnecessarily kept open which may lead to jobs being activated for a worker that is no longer asking for work (this results in those jobs timing out and can then be picked up in the next request to a

[2020-10-21 07:31] aivinog1 opened #5647 "Fix warnings in LGTM"
**Description**

Now there are some warnings in [LGTM](https://lgtm.com/projects/g/zeebe-io/zeebe/alerts/?mode=list). They should be fixed.

[2020-10-21 07:58] jwulf opened #5648 "Race condition when deploying bpmn - Error: 5 NOT_FOUND"
**Describe the bug**

There seems to be a race condition when deploying bpmn. Intermittently, I get the following error when immediately creating an instance after deploying the definition:
[code]

**To Reproduce**
To get this, I deploy the model using the Node client, and await the response from the server with the workflow key.

I then immediately create an instance of the workflow.

Periodicall

[2020-10-21 08:03] Zelldon commented on #5648
This is not a bug, this is currently the expected behavior. If you deploy a workflow it will create it on the partition one, and start to distribute it to the other partitions. The response to the client is send back already before the distribution is done. If you create a workflow instance, it is very likely that this happens on the other partitions, since the gateway does it round robin. This me

[2020-10-21 08:03] #5648 closed

[2020-10-21 08:27] deepthidevaki commented on #5641
There are two things in play:

1. Can the infrastructure prevent two nodes from different namespaces from communicating with each other?
2. Can zeebe detects it's receiving messages from the nodes outside of its cluster?
   NettyMessagingService uses the cluster name to calculate a preamble, which is used to validate a connection. So, in theory, as long as the clusternames are unique, it should be

[2020-10-21 08:51] korthout opened #5650 "Zeebe diagnostics runbook"
**Description**

As part of the October 16th gameday, we saw need for a runbook to diagnose zeebe during incident resolution.

It should contain:
* a reminder of the goal of incident resolution: no need to immediately fix the bug but do resolve the problem
* links to interesting pages like dashboard and logs
* common questions to answer like is zeebe able to compact, etc
* how to check for number

[2020-10-21 08:54] korthout commented on #5650
Gameday incident report: https://docs.google.com/document/d/1zbp7DD_BZxzasWouDIXJ_-VK2lk2DdJMsMMLuvrYLWo

[2020-10-21 11:00] Zelldon commented on #5292
I would like to revise the priority. I think this is more problematic then we think. It also causes our builds to fail.

[2020-10-21 11:21] Zelldon commented on #5307
This issue was fixed with https://github.com/zeebe-io/zeebe/issues/5135

Please migrate to the latest patch version 0.23.6 or to the next minor which would be 0.24.3.

[2020-10-21 11:21] #5307 closed

[2020-10-21 11:23] Zelldon commented on #5425
This issue was fixed with #5135

Please migrate to the latest patch version 0.23.6 or to the next minor which would be 0.24.3.

If this issue doesn't resolve for you feel free to reopen the issue.

[2020-10-21 11:23] #5425 closed

[2020-10-21 11:28] Zelldon opened #5652 "Migrate Atomix to ActorScheduler"
## Description

Currently atomix uses own ThreadPools for several things, like RAFT and SWIM.

### Current Challenges:

 * resource usage (CPU but also Memory) isn't fully under control
   * We have no possibility to configure the thread pools in atomix
   * The job queue of the used scheduler is unbound ( caused issues like https://github.com/zeebe-io/zeebe/issues/4664)
 * hard to test
   * we ha

[2020-10-21 11:46] Avinashkr1229 commented on #5279
zeebe:
  broker:
    data:
      rocksdb:
        columnFamilyOptions:
          # example options:
          compaction_pri: "kOldestSmallestSeqFirst"
          write_buffer_size: 67108864

I can't find this inside the data

[2020-10-21 13:05] korthout commented on #5279
@Avinashkr1229 To learn about applying configurations to Zeebe have a look at: https://docs.zeebe.io/operations/configuration.html#passing-configuration-file-to-zeebe

Also, this issue is part of the upcoming `0.25.0` release. You will not be able to use this on Zeebe versions < `0.25.x`.

[2020-10-21 19:11] sebascarra commented on #5426
Hi, are there any updates about this? Thanks.

[2020-10-22 04:06] cameronbraid opened #5655 "Workflow stuck with job timed out but no incident raised"
versions
[code]
I seem to have a workflow stuck.

The zeebe simple monitor shows that a task has activated, and timed out, however an incident hasn't been raised.

I have a bug in our job implementation that caused the job to never complete and never call  `jobClient.newCompleteCommand`   I can reproduce in dev by putting a breakpoint in the job implementation and waiting until the timeout period

[2020-10-22 04:07] Avinashkr1229 commented on #5279
now am using 0.25.0-rc1

[2020-10-22 04:12] cameronbraid commented on #5655
FYI I upgraded zeebe-client-java to latest but made no difference

[code]

[2020-10-22 05:43] Zelldon commented on #5655
This is not a bug, it is intended behavior that no incident is raised.

Incidents are only raised if the job fails multiple times and has no retries left. You can fail a job via a command (FailCommand) to show an execution error. You are able to configure a retry count, which make sense to your application and domain.

Jobs are timed out after some period of time, depending on your configuration,

[2020-10-22 05:43] #5655 closed

[2020-10-22 06:46] cameronbraid commented on #5655
The issue is that it just sits there and never tries again.

If there are retries left, it should try executing the job abain but it is not.
If there are no retries left, it should raise an incident.

Neither of these two are happening.  And after hours of sitting there.

[2020-10-22 06:51] cameronbraid commented on #5655
After some though I realised that it must be that the spring @ZeebeWorker only creates a single thread to execute the worker and since this thread is blocked in the job, there are no other workers to take over.

[2020-10-22 07:37] korthout commented on #5279
@Avinashkr1229 That version contains these config options 👍

[2020-10-22 11:46] Zelldon commented on #3988
Regarding jemalloc and MALLOC_ARENA_MAX interesting read https://github.com/prestodb/presto/issues/8993 @deepthidevaki

[2020-10-22 12:31] korthout opened #5663 "Can we remove leave behaviour from DefaultRaftServer"
**Description**

Our usage of Atomix Raft does not use the leave behaviour. Since it is part of the raft protocol, it is implemented in the Atomix code. However, that is additional complexity that makes the DefaultRaftServer harder to maintain. For example, in https://github.com/zeebe-io/zeebe/pull/5614/files#r510117218 we discussed making the server more resilient (e.g. calling shutdown shortly a

[2020-10-22 12:32] korthout commented on #5663
@menski  Can you perhaps say anything about whether or not we need to support raft's leave behaviour?

[2020-10-22 13:13] korthout opened #5664 "Notify slack channel on every build failure"
**Description**

#5461 changed slack notifications to only notify on real build result changes. However, we would prefer to be notified as well on every build failure.

[2020-10-22 14:17] deepthidevaki opened #5668 "Use controllable clock in Atomix/Raft"
**Description**
PR #5622 added randomized test for raft. However, due to a non-determinism with in raft, it is not easy to reproduce a failed test even if we have reproduce the sequence of operation from the seed. We haven't yet figured out what is causing the non-determinism. But there is a good chance that the reason is the use of `System.currentTimeMillis` with in raft roles to make some decisi

[2020-10-23 04:30] saig0 commented on #5565
@feliqueres we don't have the JSON that causes the problem. But I think it can be any invalid JSON (e.g. `no-json`). The [gRPC API](https://docs.zeebe.io/reference/grpc.html#createworkflowinstance-rpc) takes the JSON as a plain string.

[2020-10-23 04:43] saig0 commented on #5635
@jooble thank you for raising this up :+1:
Please describe the concrete use case a bit more that this issue should solve.

[2020-10-23 05:31] saig0 commented on #5585
@sebascarra thanks for raising this up. No updates on this topic. It is still not possible to use TLS ES with Operate.

Feel free to open one of the listed issues above :)

[2020-10-23 05:31] #5585 closed

[2020-10-23 06:40] scgillian opened #5673 "source code incomplete"
**Description**
class ValueType and class ExecuteCommandRequestDecoder can not be found in package io.zeebe.protocol.record

[2020-10-23 06:46] Zelldon commented on #5673
You need to build the project - these files are generated during compile time of the project..

[2020-10-23 06:46] #5673 closed

[2020-10-23 07:12] Zelldon opened #5674 "Chaos experiment put zeebe on high load fails in CI"
**Description**

We added some new experiments and one of them tests Zeebe under highload and checks whether there was no leader change because of the high pressure. It seems to fail in our automated tests. We should investigate that further.

**Log:**

[chaostoolkit.log.txt](https://github.com/zeebe-io/zeebe/files/5427856/chaostoolkit.log.txt)
[journal.json.txt](https://github.com/zeebe-io/zeebe/

[2020-10-23 07:44] Zelldon commented on #5585
Hey @sebascarra with the up coming operate release (0.25.0) this should be possible.

Greets
Chris

[2020-10-23 08:00] jooble commented on #5635
Hi, i have some reasons for that:
 1. It allows to use load balancing across all nodes. I`m not sure if it can update cluster in runtime. (I didn`t find in docs)
 2. If node cluster is down, broker won`t export logs
 3. I have 3 ES nodes ES and 3 broker nodes, and I don`t know how I will distribute the es nodes to the broker nodes, its hard for me, i just want put all the es nodes

[2020-10-23 09:48] osangenis opened #5675 "Using github.com/zeebe-io/zeebe/clients/go v0.25 provokes linter issues"
**Description**

We use https://github.com/golangci/golangci-lint and after upgrading the zeebe go client to 0.25, the following warnings appeared (maybe something worth checking):

`copylocks: func passes lock by value: github.com/zeebe-io/zeebe/clients/go/pkg/entities.Job contains github.com/zeebe-io/zeebe/clients/go/pkg/pb.ActivatedJob contains google.golang.org/protobuf/internal/impl.MessageSt

[2020-10-23 11:22] npepinpe commented on #3988
What was the result of the one column test?

[2020-10-23 11:23] npepinpe commented on #3988
I'm also not planning any RocksDB tuning just yet, probably next quarter, as we already have a lot on our plate - unless you have reason to think we should do it before what we're currently planning :)

[2020-10-23 11:23] Zelldon commented on #3988
Please see here https://github.com/zeebe-io/zeebe/issues/4002#issuecomment-709423055

[2020-10-23 12:40] MiguelPires commented on #5104
Closed by https://github.com/zeebe-io/zeebe/pull/5389

[2020-10-23 12:40] #5104 closed

[2020-10-23 12:42] #5575 closed

[2020-10-23 12:42] #5664 closed

[2020-10-23 13:03] saig0 opened #5676 "Handle out of disc space while reprocessing"
**Describe the bug**
When the broker becomes the leader of a partition then it will do reprocessing. If it runs out of disc space while reprocessing then it will retry all the time until more space is available.

It will log something like this:
[code]

**To Reproduce**
This issue occurred in Camunda Cloud: https://console.cloud.google.com/errors/CPr0lsrgjvCYigE?service=zeebe&time=P7D&project=camu

[2020-10-23 13:05] sebascarra commented on #5585
Thanks @Zelldon.

[2020-10-24 03:15] scgillian commented on #5673
Any tutorial to build  project to generate  class ValueType etc.?

[2020-10-24 08:05] Zelldon commented on #5673
Please see the contributing guide https://www.github.com/zeebe-io/zeebe/tree/develop/CONTRIBUTING.md

:)

[2020-10-25 06:19] alxpark opened #5679 "Test failed at io.atomix.utils.net.AddressTest.testIPv4Address"
**Summary**

- How often does the test fail? always on Windows 10
- Does it block your work? Not really, but blocked full maven testing
- Do we suspect that it is a real failure? unknown

**Failures**

<details><summary>Example assertion failure</summary>
<pre>
[INFO] ------------------------------------------------------------------------
[INFO] Detecting the operating system and CPU architecture

[2020-10-26 07:58] Zelldon commented on #2768
@saig0 similar to something we have seen in 0.23.7 ?

[2020-10-26 08:19] Zelldon opened #5682 "Investigate RocksDB snapshot copying on Partition start"
**Description**

Currently on restart a partition and becoming leader we delete the runtime folder and copy the latest snapshot into the runtime folder, see https://github.com/zeebe-io/zeebe/issues/1812. If the db contains a lot of data or is not well compacted like here #5137 then this can take a while, especially if there are not resources like cpus are assigned or when we running on a hard disk

[2020-10-26 08:21] npepinpe commented on #5682
The only issue I can imagine with creating a checkpoint of a snapshot is that you have to open it, maybe? Hopefully you don't have to open the DB before checkpointing it :crossed_fingers:

[2020-10-26 08:23] Zelldon commented on #5682
Or we just create hardlinks with java ? https://docs.oracle.com/javase/tutorial/essential/io/links.html#hardLink

[2020-10-26 08:25] npepinpe commented on #5682
afaik it's only safe to hardlink the SST files - not sure about the others, which is why I'd delegate that to RocksDB to figure out, but we could also try and compare both.

[2020-10-26 08:48] Zelldon commented on #5525
found an related old issue  https://github.com/zeebe-io/zeebe/issues/1578

[2020-10-26 08:52] npepinpe commented on #5521
Can we check why the broker shut down? If it shut down during start up, that would explain why the gateway was still running for a bit.

[2020-10-26 09:02] npepinpe commented on #5610
As we didn't follow the upgrade procedure described in the docs, this was an expected error and the inconsistency detection worked as expected, so nothing to fix.

[2020-10-26 09:02] #5610 closed

[2020-10-26 09:56] saig0 commented on #2768
Maybe. But it's hard to say based on the given informations.

[2020-10-26 10:07] #5595 closed

[2020-10-26 10:33] Zelldon commented on #5521
@npepinpe not the case:

[code]

https://console.cloud.google.com/logs/viewer?resource=k8s_container%2Fcluster_name%2Fproduction%2Fnamespace_name%2Fae62a34c-3f1b-43c0-a8ff-c03f4e527aa4-zeebe%2Fcontainer_name%2Fzeebe&logName=projects%2Fcamunda-cloud-240911%2Flogs%2Fstdout&expandAll=false&timestamp=2020-10-14T07:49:30.013149000Z&dateRangeStart=2020-10-14T06:50:00.013Z&dateRangeEnd=2020-10-14T08:50:0

[2020-10-26 10:52] MiguelPires opened #5683 "Lower log level for 'readAddress(..) failed: Connection reset by peer'"
**Describe the bug**
Found several occurrences of this logged exception at 3 different times. In all of them, a broker was restarting so it doesn't seem to be caused by an actual error. Since this logged error doesn't actual sign a faulty broker/cluster, it might be a good idea to lower the log level to warning or debug.

**To Reproduce**
https://console.cloud.google.com/errors/CPnj7Y3Upa24vwE?ser

[2020-10-26 12:24] pihme commented on #5619
Hi @jooble,

thanks for reporting. This is indeed a nasty bit and we have trouble reproducing it. We run daily tests very much like your setup and were so far unable to observe the behavior you described.

So it would be helpful to know more about your setup.

Could you elaborate on:

Which instances do you mean in the first sentence? (worker instances, workflow instances, ...)
What do you mean by

[2020-10-26 12:28] pihme commented on #5619
Also, could you send more of your broker and gateway logs? The snippets you sent cover the startup, but not the execution of the workflows. So a full log (with log level Debug) of a couple of bad workflows would be helpful.

[2020-10-26 13:05] Zelldon opened #5684 "Implement FNI metric in metric exporter"
**Description**

We often talk about flow node instance (FNI) in our production cluster plans we advertise FNI's, but currently we have no metric which measure this. In order to run support the FNI topic and run performance tests regarding this metric we should implement it. A good point would be the metric exporter, which we have created and used to measure processing latencies.

If we take a loo

[2020-10-26 13:32] josvegit opened #5686 "Error occured when uploading using zeebe client: rpc error: code = ResourceExhausted desc = Reached maximum capacity of requests handled"
**Describe the bug**
After starting zeebe together with a service that uses the zeebe go client in a docker-compose enviroment I get the following error when trying to upload a workflow

"Error occured when uploading using zeebe client: rpc error: code = ResourceExhausted desc = Reached maximum capacity of requests handled"

**To Reproduce**
Create a simple application that uses the go client and

[2020-10-26 15:04] npepinpe commented on #5582
It seems we will not publish the new documentation for at least 2 or 3 weeks, and my understanding is that's a conservative estimate, so maybe longer. This is the last piece of documentation that we would need to release on the older docs, but it should be possible to release this by using the `stable/0.25` branch. Let's do this as soon as possible please - if you need anything we can chat first a

[2020-10-26 20:25] Zelldon opened #5688 "Chaos cluster is unhealthy because it detects inconsistency on reprocessing"
**Describe the bug**

Yesterday I tried to fix our chaos builds, after fixing a script I was wondering why it was still failing. After several retries it was always the same partition which was not coming back. I checked the metrics and saw that partition three is marked as unhealthy.

We can see that the SnapshotDirector is running and tries to create snapshots but this fails with:

[code]

After

[2020-10-27 05:30] Zelldon commented on #5688
Related bpmn file https://www.github.com/zeebe-io/zeebe-chaos/tree/master/chaos-experiments%2Fbpmn%2Fone_task.bpmn

[2020-10-27 07:41] #5674 closed

[2020-10-27 07:45] deepthidevaki commented on #5295
This might be due to either #5360 or #5356. I will close this for now. Please re-open if we see this again.

[2020-10-27 07:45] #5295 closed

[2020-10-27 08:27] menski opened #5695 "Allow debug exporter to be disabled by using ZEEBE_DEBUG=false"
**Describe the bug**

At the moment the broker enables the debug exporter once the env variable `ZEEBE_DEBUG` exists, no matter what value it has.

https://github.com/zeebe-io/zeebe/blob/2fcaac571a474cb28801aa1c861b936db5ffe31d/broker/src/main/java/io/zeebe/broker/system/configuration/BrokerCfg.java#L63-L69

**To Reproduce**

Export `ZEEBE_DEBUG=false` and start the broker, the debug exporter is e

[2020-10-27 08:29] Zelldon opened #5696 "TestZbctlWithInsecureGateway/TestCommonCommands/deploy_workflow unstable"
**Summary**

- How often does the test fail? From time to time
- Does it block your work? Not yet
- Do we suspect that it is a real failure? Yes

**Failures**

<details><summary>Example assertion failure</summary>
<pre>

[2020-10-27T06:43:46.062Z] + .ci/scripts/distribution/test-go.sh

[2020-10-27T06:43:46.062Z] + ORG_DIR=/go/src/github.com/zeebe-io

[2020-10-27T06:43:46.062Z] + cd /go/src/github.

[2020-10-27 08:41] npepinpe commented on #5611
Happens seldom (3 times in a month), assumption is that even if you miss a snapshot, you should get the next one, so impact isn't too high, and replication will retry itself (i.e. during startup). To reprioritize if this happens more often or we have any idea of why the impact would be worse.

[2020-10-27 08:43] npepinpe commented on #5612
Probably related to https://github.com/zeebe-io/zeebe/issues/5495

[2020-10-27 08:46] npepinpe commented on #5612
Prioritized as low because: 1) happened 4 times in a month, 2) we are planning to move away from Kryo.

[2020-10-27 08:53] npepinpe commented on #5613
While not critical, let's just do it as it's quite quick - switch the order and start the embedded gateway after the cluster services.

[2020-10-27 09:02] npepinpe commented on #5619
Let's spend some time to reproduce this and root cause it - one idea was to run a low load benchmark and track in a similar way if this happens (the assumption being on our load test we always have more than enough jobs so we won't run into this). If we fail to reproduce it after a day or two, let's lower the prio and wait if we can get actionable info from affected users on how to reproduce it.

[2020-10-27 10:50] korthout opened #5698 "Benchmark startup initialisation logs at Error level"
**Description**

When zeebe pods in our benchmark restart their initialisation logs are logged at ERROR level, while these are not errors. We should change these to INFO level

Example: [Logs](https://console.cloud.google.com/logs/query;query=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22zeebe-io%22%0Aresource.labels.location%3D%22europe-west1-b%22%0Aresource.labels.cluster

[2020-10-27 13:32] Zelldon opened #5699 "Limit the resources of the Standalone Gateway in our benchmarks"
**Description**

Currently we have no limits set for the standalone gateway, which means it can use what ever is the limit of the node.
Related https://github.com/zeebe-io/zeebe-chaos/tree/master/chaos-days/2020-10-27

https://kubernetes.io/docs/concepts/policy/limit-range/

[2020-10-27 13:37] Zelldon opened #5700 "SerialGC is used for StandaloneGateway deployment"
**Description**

I don't know whether it is related to https://github.com/zeebe-io/zeebe/issues/5699 that we are not setting limits, but currently it seems that the JVM doesn't detect correctly how many CPU's the Gateway has available and uses as default GC the serial GC.
This causes high GC pause times (stop the world) ~8 sec. This happens at least on my last test, see here https://github.com/zee

[2020-10-27 13:37] MiguelPires opened #5701 "Deserialization failure caused by problems removing/installing"
**Describe the bug**
Seems similar to #5495 but it's not clear if the root cause is the same because those logs are no longer available. What I observed was:
* Exporter in Broker 1 fails to flush entire bulk
* Broker 1 steps down
* Append block fails since it's not leader anymore
* Appender and logstream are marked as unhealthy and start closing
* Things (logstream, exporter, snapshot director) st

[2020-10-27 13:42] Zelldon opened #5702 "Wrong response is send back for deployment when partitions are not available"
**Describe the bug**
When sending an deployment command to the Gateway and no partition is available then the returned response is `NOT_FOUND` instead of `PARTITON_NOT_AVAILABLE`.

See chaos day summary https://github.com/zeebe-io/zeebe-chaos/tree/master/chaos-days/2020-10-27

**To Reproduce**

 * Start a gateway without brokers.
 * Send a deployment to the gateway.

**Expected behavior**

`PARTIT

[2020-10-27 14:50] MiguelPires opened #5705 "RaftContext.createRole throws NPE"
**Describe the bug**
`RaftContext.createRole` throws a NullPointerException during a transition.
 https://console.cloud.google.com/errors/CIzxgeKMs-v-Fw?service=zeebe&time=P7D&project=camunda-cloud-240911&authuser=1

**To Reproduce**
Logs: https://console.cloud.google.com/logs/query;query=logName:%22stdout%22%0Aresource.type%3D%22k8s_container%22%0Aresource.labels.cluster_name%3D%22ultrachaos%22%0

[2020-10-27 14:59] MiguelPires opened #5706 "Lower log level for temporary failure in ElasticsearchExporter"
**Description**
A temporary failure in name resolution in the elasticsearch exporter is logged at the error level.
https://console.cloud.google.com/errors/COuL7uijvo3Qdg?service=zeebe&time=P7D&project=camunda-cloud-240911&authuser=1

We could consider lowering this log level or only logging it as an error after a certain number of failures. This would reduce the noise in the logs and prevent it fr

[2020-10-27 16:28] EEM86 commented on #5702
@Zelldon hello, seems I should fix this. Assign me, please.

[2020-10-27 16:51] npepinpe opened #5708 "Remove Raft log reader from LogCompactor"
**Description**

The `LogCompactor` currently keeps a reader just to log the first index of the journal. We should instead expose this via the journal to avoid allocating a long living reader for no reason. This can incur memory cost (if using the file channel reader), or be confusing (e.g. increase mapped buffers) if using mmap, and it also means the journal keeps track of an extra reader which n

[2020-10-27 16:54] npepinpe opened #5709 "LogStreamImpl reader should be created on demand and not kept in its state"
**Description**

`LogStreamImpl` currently keeps a reader around for all its lifetime, when it's only used at the beginning to get the last position. It should create/destroy it and not keep it around. Having unnecessary readers is not a big deal, but it does mean potential memory cost (i.e. FileChannel buffers), unexpected increased in mapped buffers, and more state management for the journal.

(

[2020-10-27 16:58] npepinpe opened #5710 "Add graph to visualize why containers are terminated to Grafana dashboard"
**Is your feature request related to a problem? Please describe.**
It's quite frustrating to figure out why a container was terminated after the fact - was it OOM killed (then look into GCP logs), did it complete, was it evicted, etc. It's useful to be able to correlate certain behaviours (i.e. latency spike on eviction) that are expected, and react on events that aren't (e.g. oom killed).

**Desc

[2020-10-27 17:10] npepinpe opened #5711 "Use MAPPED storage level by default"
**Is your feature request related to a problem? Please describe.**
Now that the stability of Zeebe has improved, many users have complained about the performance. Using the new memory mapped storage level should improve this; however, this is disabled by default as it isn't as battle tested as the DISK level. For the future, it makes sense for us to concentrate our efforts on a single type, so we

[2020-10-27 21:26] jooble commented on #5619
Hi, sorry for the wait, I will send you code samples this week.

[2020-10-28 07:02] Avinashkr1229 commented on #5279
Thank you

[2020-10-28 08:56] Zelldon commented on #5641
See related discussion in slack https://camunda.slack.com/archives/CT702EPFH/p1603275101002200

[2020-10-28 08:59] MiguelPires opened #5714 "StorageException$OutOfDiskSpace: Not enough space to allocate a new journal segment"
**Describe the bug**
Append fails on Broker 1 because there's no space to allocate a segment. Before it there's a lot of logs on Broker 2 with `Skipping compaction of non-compactable index 105387017 (first log index: {})` which is probably related.

**To Reproduce**
Link: https://console.cloud.google.com/errors/CM7hiaX6yOm6_gE?service=zeebe&time=P30D&project=camunda-cloud-240911&authuser=1

**Log/

[2020-10-28 09:09] korthout commented on #4942
If you're trying out `0.25.0`, I suggest that you try to the `data log segment file channels should be memory mapped` configuration. This should optimise IO.

You can enable this by setting the env var `ZEEBE_BROKER_DATA_USEMMAP` to `true` or by setting the config property `zeebe.broker.data.useMmap` to `true`.

Note, that this is an experimental setting. It is not yet as mature as direct file cha

[2020-10-28 09:35] MiguelPires commented on #5517
Observed something similar in 0.23.7:

Both errors occurred while truncating a follower's log after it step down from leader (because its log doesn't match the new leader's log).

Broker 2 also fails to delete a pending snapshot because of `java.lang.NumberFormatException: For input string: "1602602977932.tmp"`. This doesn't seem related but probably shouldn't happen either.

Link: https://console

[2020-10-28 10:08] npepinpe commented on #5641
As discussed, let's add the cluster name check on all communications (unicast and messaging), and add docs to recommend users add a NetworkPolicy crd to prevent inter namespace comms

[2020-10-28 10:37] MiguelPires opened #5715 "ElasticsearchExporterException: Failed to flush bulk"
**Describe the bug**
The ElasticSearch exporter fails repeatedly to flush because the connection to elasticSearch is reset. If this is sometimes expected, then we can lower the log level.

**To Reproduce**
Link: https://console.cloud.google.com/errors/CJHzrs64j9WNzAE?service=zeebe&time=P7D&project=camunda-cloud-240911&authuser=1

**Log/Stacktrace**
Logs: https://console.cloud.google.com/logs/query

[2020-10-28 10:56] npepinpe commented on #5715
I think there is already an issue to not log exporter errors as errors, but as warnings. The reasoning was that these are not fatal to Zeebe (to some extent), and exporter authors should handle and log the critical cases themselves.

[2020-10-28 10:57] npepinpe commented on #5715
See https://github.com/zeebe-io/zeebe/issues/5564

[2020-10-28 11:15] MiguelPires commented on #5715
Closed in favor of #5564

[2020-10-28 11:15] #5715 closed

[2020-10-28 11:15] MiguelPires commented on #5706
Closed in favor of #5564

[2020-10-28 11:15] #5706 closed

[2020-10-28 11:33] MiguelPires opened #5716 "StorageException: java.nio.channels.ClosedChannelException"
**Describe the bug**
The exception below happens while a broker is truncating its log because it stepped down to follower. The exception happens before all leader services are closed, so there might be some race condition. This seems similar to this https://github.com/zeebe-io/zeebe/issues/5517#issuecomment-717813230 both happen during the truncation.

**To Reproduce**
Link: https://console.cloud.

[2020-10-28 11:36] MiguelPires commented on #5500
Observed this again https://console.cloud.google.com/errors/COCMmvvLj-XUcw?service=zeebe&time=P7D&project=camunda-cloud-240911&authuser=1 on version 0.24.4

[2020-10-28 13:36] olad32 commented on #4391
I'm not a current user of Zeebe, but it looks very promising. The sentence on the website front page "Scale Up To (Very) High Throughput" was promising until i saw this issue.
I think that auto scaling is very useful for intermittent (or unpredictable) workload, adapt the compute power (and the cost) to the actual load is a major improvement allowed by Kubernetes and Cloud computing.
I would love

[2020-10-28 15:07] #5684 closed

[2020-10-28 20:35] jwulf opened #5719 "BPMN lint rules for Zeebe"
In considering what it will take to migrate an existing Camunda workload to Camunda Cloud, it would be useful to scan a model and see how much of it is supported by Zeebe.

The [Modeler Linter](https://github.com/camunda/camunda-modeler-linter-plugin) can do this, and just needs a set of rules that correspond to the supported Zeebe symbols.

This request is for that set of rules.

[2020-10-29 00:18] cmrenus commented on #5635
Second to this. Even if you don't build in load balancing to the nodes, having an alternate node if one goes down is helpful.

[2020-10-29 07:19] lunne opened #5720 "Environment variables"
**Describe the bug**
Environment variables should overwrite the config but they dont

Also the Elastic_EXPORTERS environemnt variables are very unclear. Does not look like the developer has followed the guide you setup for environment variables.

**To Reproduce**
Start zeebe with docker-compose and set the variables:

[code]
**Expected behavior**
The environment variables i set should overwrite th

[2020-10-29 08:28] npepinpe commented on #5720
Hi @lunne, can you share the mounted configuration file? Then also turn on debug logging (via `ZEEBE_LOG_LEVEL=debug`) and share the effective config - Zeebe, on start up, will spit out the config it resolved from the various sources. This would help us figure out what the issue is :slightly_smiling_face:

[2020-10-29 08:31] npepinpe commented on #5700
How was the standalone gateway deployed? Helm chart?

[2020-10-29 08:32] Zelldon commented on #5700
Yes :sweat_smile:

[2020-10-29 08:44] npepinpe commented on #5624
Prioritized as low as this was discovered for a single cluster on INT, and by now we lost any way to easily reproduce it. If it happens again we should investigate the broken cluster, or if it happens more often then we can invest time trying to reproduce it blindly.

[2020-10-29 08:51] npepinpe commented on #5638
Let's verify that we report the error to the client, and if so, log this purely as trace (in case someone wants to trace gateway side all the activity).

[2020-10-29 09:40] PinoNTK commented on #4942
Oh, great, I'll try it and reply you as soon as possible!!! :D

[2020-10-29 10:02] npepinpe commented on #5700
Should this be opened on the Helm repo side? This sounds like a deployment issue and not a Zeebe specific issue.

[2020-10-29 10:05] Zelldon commented on #5700
We set the Java options right? So I'm not sure if I agree on here.

[2020-10-29 10:06] Zelldon commented on #5700
Resource limits is also a thing which we should do when deploying the helm chart.

[2020-10-29 10:20] korthout commented on #5642
@npepinpe and I just discussed the topic. We could actually detect a worker leaving using `io.grpc.stub.ServerCalls.setOnCancelHandler(Runnable)`.

[2020-10-29 11:03] korthout commented on #5650
Link to cluster plans: https://console.cloud.camunda.io/admin/cluster-plan

[2020-10-29 12:11] npepinpe commented on #5700
afaik we don't set any Java options in the Docker image, and the ones we set in the `bin/broker` scripts are `-Xms128m --illegal-access=deny`. I don't expect we'll ever set GC options (at least not in the near future), so I would propose to move this and the resource limit issue (do we have an issue for it in this repo?) to the Helm chart repo. I can do it if you're fine with this.

[2020-10-29 12:15] Zelldon commented on #5700
We setting java options here: https://github.com/zeebe-io/zeebe/blob/develop/benchmarks/setup/default/zeebe-values.yaml#L43-L49

You can set the resource limits in the helm charts already. But is is not set in our benchmarks. I have the feeling we talking here about different things. I'm talking about our setup and benchmarks where we never set the limts for gateways nor the correct GC.

[2020-10-29 12:17] npepinpe commented on #5700
Ah, sorry, I misunderstood. Yes, let's set resources in our benchmark set up, sorry :see_no_evil:

[2020-10-29 12:20] jooble commented on #5619
Hi, I have made - https://github.com/jooble/zeebe-blocking-long-polling
To run, use these commands:
1. docker-compose up
2. ./gradlew bootRun

While I was testing, I found a reason.
When I have 1 gateway - all good, but when I have 2+ gateways - problem with long polling

[2020-10-29 12:26] npepinpe opened #5722 "Allow changing maxMessageSize in a backwards compatible way"
**Description**

It's currently potentially breaking to reduce `maxMessageSize`, as it may lead to a broker being unable to read existing records that are larger than the new `maxMessageSize`. We have seen that reducing this value can lead to great performance improvements, but we cannot change the default value without breaking existing installations, and users with existing installations cannot

[2020-10-29 12:33] pihme commented on #5619
@npepinpe Did we ever consider having multiple gateways? Is this supposed to work?

[2020-10-29 12:33] pihme commented on #5619
@jooble Thanks for the update. This is indeed helpful

[2020-10-29 12:36] Zelldon opened #5723 "Deployments are stored in state even when one workflow is rejected"
**Describe the bug**

Scenario:

 * Deployment with multiple workflows
 * One of the workflows is broken
 * If you send the deploy command you get an rejection back
 * If you fix the related workflow and deploy it again you can see that the other workflows have an higher version then the fixed one

![deployerror](https://user-images.githubusercontent.com/2758593/97574348-62c4b680-19eb-11eb-9a09-2a

[2020-10-29 12:42] npepinpe commented on #5619
Having multiple standalone gateways is expected to be the same as having multiple embedded gateways - gateways are identified by their IP addresses on the broker side, so as long as they don't share IPs it's expected to work.

[2020-10-29 12:45] pihme commented on #5619
@npepinpe I am not sure brokers will broadcast newly available jobs to all gateays; I would guess they only talk to a single gateway when they announce new jobs (haven't looked at the code, yet, though)

[2020-10-29 12:48] npepinpe commented on #5619
afaik it uses the `ClusterEventService` to broadcast the event, so all gateways subscribed to the topic will receive the notification (correct me if I'm wrong @deepthidevaki).

[2020-10-29 13:20] jooble commented on #5619
I have 7 gateways: 1 gateway - 1 host with workers for high-availability
We read about this on your forum - https://forum.zeebe.io/t/how-is-zeebe-cluster-highly-available/780/4

[2020-10-29 13:22] npepinpe commented on #5696
Seen it happen again https://ci.zeebe.camunda.cloud/blue/organizations/jenkins/zeebe-io%2Fzeebe/detail/develop/4500/tests

[2020-10-29 13:47] korthout commented on #5711
@npepinpe I feel like we should first roll out `zeebe.broker.data.useMmap=true` on cloud, before changing Zeebe's default.

[2020-10-29 14:10] npepinpe commented on #5711
Changing the default means 0.26 would have it - we wouldn't release this as a patch release or anything. I'm unsure about rolling this out to prod yet, but I think rolling it out to INT/DEV would be good. We could do this already - however, having our tests (including the testbench and chaos) all run with mmap would greatly improve coverage, no?

[2020-10-30 00:41] cmrenus opened #5727 "[Operate] Variable visibility"
Currently when looking at operate during workflows, it is tough to visualize the variables at each step unless the input and output is specified (transformations). Since variables are available at each task, I think it would provide more visibility to show all available inputs/outputs at each step regardless of what is passed.
to me it would help in truly seeing what happens at each step. Otherwis

[2020-10-30 07:43] aivinog1 commented on #5626
Hi, @saig0! I'm stuck to solve this issue, can you help me? If I understand correctly I need to add an additional property to [the `io.zeebe.protocol.impl.record.value.job.JobRecord`](https://github.com/zeebe-io/zeebe/blob/develop/protocol-impl/src/main/java/io/zeebe/protocol/impl/record/value/job/JobRecord.java). After that, I need to instrument [`io.zeebe.engine.processing.job.FailProcessor`](ht

[2020-10-30 07:56] deepthidevaki commented on #5619
It might be because both gateways are using same memberId. Nodes use memberId to uniquely identify them and also to store the IP addresses and other information inorder to be able to communicate with each other. So, my guess is that, the brokers only have information about one gateway, because the info about the other one is overwritten because of duplicate memberId.
@jooble Could you please set d

[2020-10-30 08:37] npepinpe commented on #5646
Not a blocker as Sonar analyses mostly new code, but a nice to have :slightly_smiling_face:

[2020-10-30 08:39] npepinpe commented on #5650
I would propose we first start it in the same repo as the runbook, and see how it evolves - if it's too specific to our setup or not, and see what we make public afterwards.

[2020-10-30 08:49] aivinog1 commented on #5613
@npepinpe @Zelldon Hi! I would like to take this one.

[2020-10-30 08:51] npepinpe commented on #5668
Let's have it along with moving to the ActorScheduler - however, if we find bugs with the randomized tests, and it makes us lose time that they are not easily reproduceable, let's revise this as a more urgent matter.

[2020-10-30 08:54] npepinpe commented on #5174
@korthout was this the one which failed due to resource contention?

[2020-10-30 08:54] jooble commented on #5619
I have tried, it`s not working

[2020-10-30 08:56] jooble commented on #5619
In our runtime we use different memberId already.

[2020-10-30 08:57] npepinpe commented on #5393
Closed as we confirmed this was an upgrade issue (which is covered by other solutions, i.e. inconsistency detection).

[2020-10-30 08:57] #5393 closed

[2020-10-30 09:00] npepinpe opened #5728 "Only retry recoverable errors during reprocessing"
**Description**

Currently, during reprocessing, we blindly retry all possible errors. As seen here #5393, some errors are definitely not recoverable, but we end up wasting resources and time (as the leader will remain leader but never process anything) unnecessarily. We should implement the same as in processing, and only retry recoverable errors.

[2020-10-30 09:07] npepinpe commented on #5676
I think the issue here is covered by https://github.com/zeebe-io/zeebe/issues/5470, which is to remove OOD errors from the error reporting tool, so I would close this for now.

[2020-10-30 09:07] #5676 closed

[2020-10-30 09:10] korthout commented on #5174
Yes, it seems fixed with https://github.com/zeebe-io/zeebe/pull/5717. So, I'll close it now

[2020-10-30 09:10] #5174 closed

[2020-10-30 09:11] korthout commented on #5369
This should be fixed with https://github.com/zeebe-io/zeebe/pull/5717. Close for now.

[2020-10-30 09:11] #5369 closed

[2020-10-30 09:14] korthout commented on #3905
This type of failure should be fixed with https://github.com/zeebe-io/zeebe/pull/5717. Close for now

[2020-10-30 09:14] #3905 closed

[2020-10-30 09:20] korthout commented on #5013
This type of failure should be fixed with https://github.com/zeebe-io/zeebe/pull/5717. Close for now

[2020-10-30 09:20] #5013 closed

[2020-10-30 10:12] deepthidevaki commented on #5619
Thanks for verifying it.
Another issue I can think of it is that host set for gateway is `0.0.0.0`. This would mean that it also shares 0.0.0.0 as its IP to the brokers. When brokers send long-polling notifications to the gateways, it sends to 0.0.0.0, which means the gateway does not receive it.  You should set a host/ip that is reachable from other nodes. I think, if you don't set any host it wi

[2020-10-30 10:28] korthout commented on #5711
@npepinpe If we aim this for 0.26 I definitely agree we should start using this in all our tests asap. The longer we test with it the better. Benchmarks throughput will likely be affected so it might be difficult to for comparisons in the beginning. WDYT @Zelldon, can we just apply this to our benchmarks setup?

[2020-10-30 10:35] Zelldon commented on #5711
Change it a soon as possible

[2020-10-30 10:37] korthout opened #5732 "Use memory mapped log segments in our benchmark setup"
_Originally posted by @Zelldon in https://github.com/zeebe-io/zeebe/issues/5711#issuecomment-719476049_

[2020-10-30 11:41] deepthidevaki commented on #5619
The docker-compose you provided did not work. Gateways were not receiving the topology due to misconfigured memberId. I changed it to the following:
[code]

I deployed your workflow and created a worker as follows.
[code]
It is activating the jobs within 1 second.
[code]

Please check if the gateway configurations are correct. And let us know if the issue is observed again.

[2020-10-30 12:07] jooble commented on #5619
Yes, problem observed again. Can you use spring worker from repository?
I have fixed gateway`s ids

[2020-10-30 12:09] npepinpe commented on #5619
I came up with 2 scenarios (well, after discussion with prospects and others, can't claim credit here) where there might be delay between activating jobs, maybe someone can debunk them for me :slightly_smiling_face:

Let's take a setup with many partitions, say, 16, and there is medium to heavy load on the system (but no resources exhausted).

1. If an activate job requests comes in, starts at par

[2020-10-30 12:12] aivinog1 commented on #5592
@npepinpe Hi! I would like to take this one.

[2020-10-30 12:18] npepinpe commented on #5592
Go for it! A few notes:

1. Places using directly `ZbLogger` should now just use `org.slf4j.Logger`
1. Places using `ContextualLogger` can keep using it - just make sure it now implements `org.slf4j.Logger` and doesn't extend `ZbLogger` anymore.
1. Make sure is to test with `StackdriverLayout` (you can do that by setting `ZEEBE_LOG_APPENDER=Stackdriver` when running the official distribution), tha

[2020-10-30 12:21] npepinpe commented on #5711
One thing that came up with a discussion with Daniel, was we need to make sure we unmap segments as soon as possible (to avoid memory trashing and generally loading too many pages). We already do so for readers, but we keep the writers always open - do we have an issue to close writes once a segment isn't being written to anymore? With the changes @korthout did it will be easier to do so now I thi

[2020-10-30 12:22] deepthidevaki commented on #5619
Here is output from spring worker.
[code]

[2020-10-30 12:26] deepthidevaki commented on #5619
I think this is what @pihme fixed. So the request should not be blocked.

It follows the round robin pattern, and will retry from 1 afaik.

[2020-10-30 12:33] jooble commented on #5619
Can you replace ```broker.contactPoint: localhost:26501``` to  ```broker.contactPoint: localhost:26500 ``` if you don`t have problem with that gateway ? Because when we have at least 2 gateways -  1 gateway works fine. I don`t know why

[2020-10-30 12:36] deepthidevaki commented on #5619
What do you get when running
`zbctl --insecure status --address localhost:26501`
and
`zbctl --insecure status --address localhost:26500` ?

[2020-10-30 12:39] jooble commented on #5619
[code]

[code]

[2020-10-30 12:43] deepthidevaki commented on #5619
`broker.contactPoint: localhost:26500`
[code]

 ` broker.contactPoint: localhost:26500`
[code]

[2020-10-30 12:45] deepthidevaki commented on #5619
Did you use the same config I posted?

[2020-10-30 12:45] jooble commented on #5619
I don't know why don't you have problem, I checked this configuration on difference systems

[2020-10-30 12:51] jooble commented on #5619
Sorry, I just replaced it, and it fixed 🤔

[2020-10-30 12:52] pihme commented on #5619
@npepinpe

It will increase the failed attempt count and try again; until failed attempt count is greater than a threshold (which I think was three)

The failed attempts count is for all concurrent requests per gateway.

So in essence, all requests on a given gateway will collectively call all brokers three times before they get put into long polling mode.

Also if a notification is received, they

[2020-10-30 13:32] aivinog1 commented on #5578
@npepinpe Hi again! :) I think that I can take this one. I think that I will add a new configuration property for a class name of extension of `io.zeebe.client.impl.ZeebeObjectMapper`. And in the `io.zeebe.client.impl.ZeebeClientImpl`, I can set it as a constructor parameter.

[2020-10-30 13:55] korthout commented on #5711
I haven't looked into this, so I think we don't have an issue for this.

I was also wondering whether it makes sense to change `SegmentedJournal.createSegment(JournalSegmentDescriptor)` to use `IoUtil.mapNewFile` instead of the RandomAccessFile filechannel that is currently used to write the segment descriptor. Perhaps touching the file completely reduces page faults later.

[2020-10-30 13:57] npepinpe commented on #5711
So when mapping the same file twice, they initially share pages - all dirty pages (every write) will become private, and become "clean" again once they've been written back to disk. So I don't think it would reduce page faults so much, as I imagine most of the time pages will be shared anyway. My current guess for the amount of page faults is due to our records not being aligned to the page size,

[2020-10-30 14:00] jooble commented on #5619
Can I view broadcast logs? Because in my test environment I still have a problem (not a docker compose).
There is gatewayId is ok

[2020-10-30 14:31] MiguelPires commented on #5701
This happened in 0.24.4 as well https://console.cloud.google.com/errors/CNy2m9355r_G7gE?service=zeebe&time=P7D&project=camunda-cloud-240911&authuser=1
Like the previous occurrence, we can observe services closing before and after a broker transitions from candidate to leader which might indicate a race condition.

[2020-10-30 14:32] npepinpe commented on #5701
If this occurs at that time, it sounds like:

1) buffers are being reused, or
2) we read a partial entry, the file channel is closed, so don't finish reading the rest and attempt to deserialize a partial entry

Not sure how likely each are though

[2020-10-30 14:56] korthout commented on #5711
I think it makes sense to let the OS do its thing here. Informing the OS of our intentions by mapping the file during creation might give it the additional data it needs for optimisations that we don't know about. But honestly, I have no clue about it. In the end the description needs to be written to disk before the readers/writer start using it (or is that not true?), so if we map we need to flu

[2020-10-30 14:58] npepinpe commented on #5711
I think we're not talking about the same thing :) We can gladly discuss this over Zoom :+1:

[2020-10-30 15:25] deepthidevaki opened #5736 "Profiling zeebe for memory usage"
**Description**

Based on the result from this issue  https://github.com/zeebe-io/zeebe/issues/3988 we configured the following parameters to reduce the memory footprint of Zeebe.

ZEEBE_BROKER_DATA_ROCKSDB_COLUMNFAMILYOPTIONS_WRITE_BUFFER_SIZE=8MB
ZEEBE_BROKER_DATA_ROCKSDB_COLUMNFAMILYOPTIONS_MAX_WRITE_BUFFER_SIZE_TO_MAINTAIN=8MB

We had also added rocksdb metrics so we can keep track of rocksdb

[2020-10-30 15:32] deepthidevaki commented on #5736
To profile native memory usage, I replaced the default memory allocator `glibc` with other libraries. I used both [tcmalloc](https://gperftools.github.io/gperftools/heapprofile.html)
and [jemalloc](https://github.com/jemalloc/jemalloc/wiki/).

`tcmalloc` instruments all calls to malloc and free. So the brokers became too slow.
`jemalloc` only samples, but it gives similar insight as `tcmalloc`.

T

[2020-10-30 15:36] deepthidevaki commented on #5736
Running a cluster with clusterSize: 3, partitionCount:3 and replicationFactor:3. At first I profiled it with tcmalloc.

Following is the log from one of the broker - leader for one partition. Notice the heap currently in use
[code]
![image](https://user-images.githubusercontent.com/1997478/97724811-b1e31800-1acd-11eb-9710-73425b0b5c57.png)
![image](https://user-images.githubusercontent.com/1997478

[2020-10-30 15:41] deepthidevaki commented on #5736
The cluster was left running overnight. Heap usage is not increasing anymore. It is stabilized around 820 MB for more than 12 hours
[code]
However RSS is still increasing slowly. Note that RSS increase may not be harmful, as it also contains memory mapped. And the OS may not release memory unless it is under memory pressure.

The pod was restarted because of node preemptions. So we don't know if i

[2020-10-30 15:52] deepthidevaki commented on #5736
Profiling with tcmalloc makes the system too slow. Instead we can also use jemalloc. It would give similar insights as tcmalloc.
To use jemalloc with profiling set the following environment variables:
[code]
And use `jeprof -pdf `which java` jeprof.24301.10.i10.heap > prof.pdf` to anlayze the results.

[2020-10-30 16:46] deepthidevaki commented on #5619
Good to know that.
I still think it could be some issue with the configuration in your test environment. Could you please check both gateways `cluster.host`, `cluster.memberId` are valid? `cluster.host` should be some host/ip reachable from other brokers.
Also how do you deploy it in your test environment? Is it a kubernetes cluster? Do you use helm charts?

If you don't mind too many logs, you ca

[2020-10-30 18:32] #5592 closed

[2020-10-30 19:45] cmrenus opened #5737 "More complex data mapping"
**Description**

A clear and concise description of what this issue is about.

Is there any plan to add more complex data transformation? such as converting a json object to an array or something? For example I have a json object of addresses
addresses: { address1: {}, address2: {} } , and be able to convert this to addresses: [{}, {}], in order to use a looped service?

There are some other scena

[2020-10-30 20:21] Zelldon commented on #5737
I think you can do it with a feel expression, e.g. append see https://camunda.github.io/feel-scala/develop/feel-built-in-functions for more information.

[2020-10-30 20:50] #5732 closed

[2020-10-30 23:20] cmrenus commented on #5737
Yea actually I figured out I could use get value and like statically create the array which was fine for this scenario. Didn’t realize before that was possible with feel

[2020-10-30 23:20] #5737 closed

[2020-10-31 12:17] jooble commented on #5619
I think i found reason
My cfg -

[code]

but in logs

[code]

I don`t know why, but I will try replace hostname on IP

[2020-10-31 12:28] jooble commented on #5619
I have tried and it didn't help. I think IP resoling doesn't work right.

[2020-10-31 12:50] jooble commented on #5619
I've changed the container setting to start with ` --network host`  and the problem has gone.
But I think brokers should write about problem with connection to gateway

[2020-11-01 03:33] vvkpd commented on #2695
I would like to work on this card

[2020-11-01 18:33] samuel-rego commented on #3445
@salaboy  @jwulf  can I use zeebe with elastic 7.x without having **operate** App

[2020-11-01 21:06] salaboy commented on #3445
@samuel-rego, in theory, yes, you will need to replace the Zeebe ElasticSearch exporter in the brokers as well to use a client compatible with ES 7.x

[2020-11-02 05:46] aivinog1 opened #5741 "Remove usage BrokerContactPoint in benchmarks."
**Description**

This is a part of #2973 that I intentionally missed in the #5373. Needs to replace usage of `io.zeebe.client.ZeebeClientBuilder#brokerContactPoint` to `io.zeebe.client.ZeebeClientBuilder#gatewayAddress` and `io.zeebe.client.ClientProperties#BROKER_CONTACTPOINT` to `io.zeebe.client.ClientProperties#GATEWAY_ADDRESS` in the benchmarks since it depends on the current version of Java c

[2020-11-02 07:38] aivinog1 commented on #5564
@npepinpe @Zelldon Hi! I think that I can take this. Because I don't have access to the Google Cloud Console of the app, I might have some questions later. :)

[2020-11-02 08:16] deepthidevaki opened #5744 "Detect gateway network/host configuration issue"
**Description**

In https://github.com/zeebe-io/zeebe/issues/5619, job activation delay due to long polling was caused by misconfigured gateway. If the host/port is configured wrongly, the gossip still (partially) works because gateway can still talk to the broker. But brokers cannot talk to gateway. So any communication initiated by broker to gateway (such as gossip and long polling notification)

[2020-11-02 08:18] deepthidevaki commented on #5619
Created https://github.com/zeebe-io/zeebe/issues/5744 for detecting misconfiguration.

[2020-11-02 08:18] #5619 closed

[2020-11-02 08:47] Zelldon commented on #5688
![ci](https://user-images.githubusercontent.com/2758593/97847777-69f00b00-1cf0-11eb-8e38-6853ebe67d2e.png)

[2020-11-02 08:48] npepinpe commented on #5688
Please root cause, and let's review the priority once that's done. The assumption here is that we detect an inconsistency after the cluster has been used post-upgrade, which could mean we have a real inconsistency, or there's a bug in the detection.

[2020-11-02 08:50] npepinpe commented on #5695
Fine with me if the boolean value is just about enabling/disabling, and we drop the config for pretty printing or not. Happy to discuss.

[2020-11-02 08:53] npepinpe commented on #5698
I assume you mean the shell script stuff - as they don't show up in the error reporting tool, I don't see it as a big impact, but let me know if you think otherwise, happy to review this

[2020-11-02 08:56] npepinpe commented on #5700
Blocked by https://github.com/zeebe-io/zeebe/issues/5699 - let's assign resources first, and see if it fixes this.

[2020-11-02 09:00] npepinpe commented on #5702
Hi @EEM86, go for it! Don't hesitate to ask here or in the Slack channel if you have any questions!

[2020-11-02 10:24] korthout opened #5745 "StorageException: java.nio.channels.AsynchronousCloseException"
**Describe the bug**
Trying to read the next log stream entry, while the file channel is already closed because of leader to follower transitioning.

Potential duplicate of https://github.com/zeebe-io/zeebe/issues/5486, which occurred in a similar way (closing log storage), however in this case the exception occurs on reading the (just closed) log stream for the engine during closing.

The excepti

[2020-11-02 10:31] pedrompc opened #5746 "Error when a large JSON object is passed as a variable"
Hello, I've found that if one passes a large JSON object as a variable upon job completion, a somewhat cryptic error occurs. It was suggested in the zeebe forum that I open this issue, so that the error message can be improved.
In my tests, I used v0.24.1 and v0.25.0, and the JSON object had around 57MB.

Here's the link to the issue i opened in the zeebe forum: https://forum.zeebe.io/t/persistent

[2020-11-02 10:51] Zelldon commented on #5688
Related [log](https://console.cloud.google.com/logs/viewer?interval=NO_LIMIT&authuser=1&organizationId=669107107215&project=camunda-cloud-240911&minLogLevel=0&expandAll=false&timestamp=2020-10-26T15:28:05.670520000Z&customFacets=&limitCustomFacetWidth=true&advancedFilter=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22camunda-cloud-240911%22%0Aresource.labels.location%3D%22eu

[2020-11-02 11:02] Zelldon commented on #5688
[If we concentrate only on the StreamProcessor log for partition three than we can see the following:](https://console.cloud.google.com/logs/viewer?interval=JUMP_TO_TIME&authuser=1&organizationId=669107107215&project=camunda-cloud-240911&minLogLevel=0&expandAll=false&timestamp=2020-11-02T09:26:39.777000000Z&customFacets=jsonPayload.context.actor-name&limitCustomFacetWidth=true&advancedFilter=resou

[2020-11-02 13:03] Zelldon commented on #5688
I have an assumption but not 100% sure.

The error message is:

[code]

It expects an rejection, but on the log is a `CREATED`. If we take a look at the `DeploymentCreateProcessor` we see this distinction, maybe this causes this? @saig0 any thoughts on this? https://github.com/zeebe-io/zeebe/blob/develop/engine/src/main/java/io/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java

[co

[2020-11-02 13:09] korthout opened #5748 "NPE in spring boot actuator servlet"
**Describe the bug**
The following occurred:
[code]

It looks like this a known issue in Spring Boot: https://github.com/spring-projects/spring-boot/issues/21557 (which also refers to https://github.com/spring-projects/spring-boot/issues/16407 as a duplicate).

The issues is root caused to an issue in Undertow, see: https://github.com/spring-projects/spring-boot/issues/21557#issuecomment-652432473

[2020-11-02 13:10] korthout commented on #5748
I've given this `Severity: Low` because the NPE occurred in the spring boot actuator and not in the core system.

[2020-11-02 13:17] npepinpe commented on #5564
Hey @aivinog1, you should be able to tell the log level via the normal logs (STDOUT or the log file), I think, so shouldn't need Google Cloud Console access :slightly_smiling_face:

[2020-11-02 13:25] npepinpe commented on #5621
I don't think it's related to closing, but rather that we're reading partial configuration, where the members are simply null. We should verify if it's possible for `configuration.members()` to be null (i.e. do we ever write a config with `null` for members), and if so, just add a check for it.

[2020-11-02 13:27] npepinpe commented on #5645
Yep, seems like it's possible to call close while you're starting (makes sense if we're shutting down in the middle), and have no server yet. Either close interrupts the start process (i.e. share a startedFuture or something), or we synchronize both.

[2020-11-02 13:33] #5699 closed

[2020-11-02 13:33] #5700 closed

[2020-11-02 14:08] korthout commented on #5748
Apparently `excitingdev` is a `Development` environment, so this can be ignored altogether

[2020-11-02 14:08] #5748 closed

[2020-11-02 14:09] npepinpe commented on #5683
This seems to happen primarily in the gateway, and could be solved by amending `AtomixClientTransportAdapter` to recognize `NativeIoException` as a connection related exception which can be retried. @Zelldon - am I right in assuming a new connection would be used on retry, and if recurring, it would simply time out? However, is this something we'd want to handle in general with the messaging servi

[2020-11-02 14:12] npepinpe commented on #5705
Seems we're transitioning even before we finish initializing the `RaftContext` - is this even possible? @deepthidevaki @Zelldon ? The error here is that the metrics are not initialized here (that's the last step of the `RaftContext` constructor - which quick reminder isn't running in the Raft thread, as it creates the Raft thread).

[2020-11-02 14:17] sebascarra commented on #5426
Any updates about this or ETA? Thank you very much.

[2020-11-02 14:27] samuel-rego commented on #3445
@salaboy  is there in fix for this in the coming release (within 2-3 months)..?

[2020-11-02 14:36] salaboy commented on #3445
@samuel-rego not right now, as I mentioned before in this issue. "It is not planned for this Quarter, but we will re-evaluate early next year. The team current priority is stability and performance for Camunda Cloud. I hope you can understand the reason behind it. We will highly appreciate feedback on Camunda Cloud." I personally believe that the entire Zeebe community will benefit from the work t

[2020-11-02 15:51] Zelldon commented on #5705
I think the issue with atomix is that it does a lot of stuff inside of ctor's, so with incomplete objects. So for me this kind of bug is no suprise tbh...

[2020-11-02 16:18] saig0 commented on #5626
@aivinog1 yes, this sounds correct :+1:
You can use a `LongProperty` to define the backoff as milliseconds. We used the `LongProperty` in similar situations, for example, the message TTL.

[2020-11-02 17:02] korthout commented on #5698
Agreed, impact is small but it helps to be able to filter logs on level when investigating an issue or error

[2020-11-02 17:29] deepthidevaki commented on #5705
Yes. I suppose it is possible. `join/bootstrap` is initiated only after initializing RaftContext. But I think it is possible for it to receive messages from other nodes which can then trigger transitions.

[2020-11-02 21:08] tjwp opened #5750 "The broker tries to correlate the message infinitely if the command is rejected"
This issue was first reported in a Zeebe Slack thread: https://zeebe-io.slack.com/archives/C6WGNHV2A/p1604077101313300

----

This week we have been experiencing an issue with our Zeebe cluster in our staging environment that I'm hoping someone can help us to remedy.

**Background**: We have a 3 node, 3 partition cluster running, and we have a Kafka exporter configured. We consume the messages fro

[2020-11-03 05:05] saig0 commented on #5750
I'm not sure how the broker ended up in this situation. The subscription is (partially) in the state and it retries to correlate the message. The workflow instance closes the subscription already and rejects the correlation command. The rejection is sent back as response and processed. Here, the processor sees that the subscription is (partially) removed from the state and reject the rejection :sw

[2020-11-03 05:10] saig0 commented on #5746
Duplicated issues. Closing this issue in favor of #4928.

[2020-11-03 05:10] #5746 closed

[2020-11-03 08:56] #5613 closed

[2020-11-03 09:03] npepinpe commented on #5723
Verify as well why the version was incremented when deploying the same processes, which should already be handled.

[2020-11-03 09:32] #5564 closed

[2020-11-03 09:37] npepinpe opened #5752 "Report PSS process metric"
**Is your feature request related to a problem? Please describe.**

We currently report the RSS of the Java process; however, when switching to memory mapped file backed storage, we now map multiple times the same files - while this doesn't necessarily use more physical memory, the RSS reports each mapping as completely separate, when most of the pages tend to be shared. As such, the PSS becomes a

[2020-11-03 10:07] saig0 commented on #5688
After looking into `DeploymentCreateProcessor` and `WorkflowPersistenceCache`, we can say that the processor is definitely a problem for the reprocessing detection. Depending on the in-memory state of the cache, the `CREATE` command is accepted or rejected. So, it depends on which records the processor has processed before (independently from the actual records on the log stream).

On reprocessing

[2020-11-03 10:09] korthout commented on #5641
This is also happening on my baseline benchmark of 0.25.0: http://34.77.165.228/d/I4lo7_EZk/zeebe?orgId=1&from=now-2d&to=now&var-DS_PROMETHEUS=Prometheus&var-namespace=korthout-0-25-0-baseline&var-pod=All&var-partition=All

[code]

[2020-11-03 10:10] Zelldon opened #5753 "Deployment Reprocessing Inconsistency with DeploymentCache"
After looking into `DeploymentCreateProcessor` and `WorkflowPersistenceCache`, we can say that the processor is definitely a problem for the reprocessing detection. Depending on the in-memory state of the cache, the `CREATE` command is accepted or rejected. So, it depends on which records the processor has processed before (independently from the actual records on the log stream).

On reprocessing

[2020-11-03 10:15] Zelldon commented on #5641
OMG :scream: @npepinpe we should fix this :eyes:

[2020-11-03 10:27] Zelldon commented on #5688
@npepinpe it is currently hard to tell what caused this issue. We checked the code and we think it can only happen if two CREATE's are processed afterwards, because then the cache holds it in-memory and the processor rejects the command. It looks like that the log of the nodes seem to be different. If it happens the next time we should investigate this via snapshotting the logs, so we can check ho

[2020-11-03 12:17] npepinpe commented on #5688
I'm not sure I understand what happened - why is the cache a deciding factor on whether or not a deployment is accepted/rejected? Is it because it previously held it in memory so we are not redeploying it (thus not validating and rejecting it) and marking the deployment as accepted?

[2020-11-03 12:18] npepinpe commented on #5714
Closing in favor of https://github.com/zeebe-io/zeebe/issues/5470

[2020-11-03 12:18] #5714 closed

[2020-11-03 12:41] Zelldon commented on #5688
The cache is used in the `DeploymentCreateProcessor` to verify that the deployment is new and to add it to the state. If this deployment with the same key already exists (in-memory) then the processor rejects the `CREATE` command.
Now we can have situations which might be problematic. Say we have two of the `CREATE` commands on normal processing, this can happen when the first partition re-distrib

[2020-11-03 12:49] pihme opened #5754 "Run testbench on demand in build pipeline"
**Description**

It shall be possible to trigger a test run in the Zeebe cluster testbench for any Zeebe build

[2020-11-03 13:07] Zelldon commented on #5688
I run the chaos experiments in a loop and got a new one:

[code]

@saig0 @npepinpe

[2020-11-03 14:07] Zelldon commented on #3124
I think this is no longer the case or @saig0 ?

[2020-11-03 14:23] Zelldon commented on #5753
https://github.com/zeebe-io/zeebe/issues/5688#issuecomment-721092741

[2020-11-03 14:25] Zelldon commented on #3124
The problem here is that the ack is async on the reprocessing, which means we write concurrently on reprocessing https://github.com/zeebe-io/zeebe/issues/5688#issuecomment-721104887

[2020-11-03 14:33] Zelldon commented on #3124
Worth to try is that we doing the deploymentDistribtion as side effects. If there is still deployment to distribute they will be distributed after recovery.

[2020-11-03 14:51] npepinpe commented on #5753
There's little gain from writing a rejection if something already exists, as we don't distinguish between either case. So let's just write that's been created, as:

1. In memory caches don't play well with our retry/abort mechanism of rolling back the state
1. We don't handle the rejection at all, and returning success on an operation that was previously done/cached is fine
1. It creates an additi

[2020-11-03 15:04] korthout opened #5755 "java.lang.IllegalStateException: Failed to execute CommandLineRunner - Shutdown in progress"
**Describe the bug**
A Zeebe broker was unable to start during the camunda cloud E2E test.

[Error](https://console.cloud.google.com/errors/CJrb-4TCw7vXdA?service=zeebe&time=P1D&refresh=auto&project=camunda-cloud-240911&authuser=1)

**Log/Stacktrace**

[Log in google console](https://console.cloud.google.com/logs/query;pinnedLogId=2020-11-02T23:03:55.024185Z%2Fg3dzmzfegmpk7;query=error_group%2528%

[2020-11-03 15:19] korthout commented on #5755
@npepinpe Its unclear to me whether this occurred due to the way the E2E is setup or due to some issue in Zeebe

[2020-11-03 15:21] ultraschuppi commented on #5755
na... this test does flap sometimes, but not most of times. so either this is something special in 0.25 or it _just happens_ ;-)

[2020-11-03 15:24] korthout commented on #5755
@ultraschuppi It occurred yesterday evening AND this morning. These were the only times in at least 30 days.

[2020-11-03 16:36] npepinpe commented on #5641
I'm still not convinced this is primarily an issue with our deployments, as we've never seen this in Camunda Cloud, hence why I wouldn't bump the priority further, but we should still fix it of course.

[2020-11-04 05:29] saig0 commented on #5688
We fixed something similar to the deployment distribution already: #5568

[2020-11-04 05:39] Zelldon commented on #5688
See https://github.com/zeebe-io/zeebe-chaos/blob/master/chaos-days/2020-11-03/README.md for more details

[2020-11-04 08:04] deepthidevaki commented on #5736
In an attempt to reproduce OOM, I started a cluster with following configuration:

[code]
and workload consisting of a single task workflow and a timer workflow (available in our benchmark module). Also added a script that publish a message every second, even though there are no workflows with messages.
In this cluster, we can observe that memory used is increasing much faster than usual. The clus

[2020-11-04 08:46] npepinpe commented on #5728
If possible we should attempt to step down - however I think this is quite difficult to achieve right now, so for now a compromise would be to at least fail the stream processor, which would show the component as unhealthy and stopped.

[2020-11-04 09:02] npepinpe commented on #5744
As we have no clear idea of how to do this, I'll mark this as low prio (as it's useful for users to know but not something we should focus on at the moment considering all the other issues) and a question - I'm happy to revisit this if anyone has any ideas.

[2020-11-04 10:28] npepinpe opened #5759 "Control inconsistency detection with an experimental feature flag"
**Is your feature request related to a problem? Please describe.**

Inconsistency detection during reprocessing is an important feature to guarantee upgrades can be safely done, as well as to guarantee the health of your Zeebe cluster. However, it is currently buggy (see https://github.com/zeebe-io/zeebe/issues/5688 for some info). It is still a very useful feature, but for now we should enable it

[2020-11-04 10:29] npepinpe commented on #5688
Downgrading the priority in favor of https://github.com/zeebe-io/zeebe/issues/5759.

[2020-11-04 10:29] npepinpe commented on #5753
Downgrading priority in favor of https://github.com/zeebe-io/zeebe/issues/5759

[2020-11-04 10:31] npepinpe commented on #3124
Downgrading the priority in favor of https://github.com/zeebe-io/zeebe/issues/5759 - however I see there's already a PR, so go ahead and complete it :slightly_smiling_face: (thanks for the fast work :+1:). I'm happy to discuss why #5759 is superseding these issues with you - let's discuss it sometime soon.

[2020-11-04 10:49] npepinpe commented on #5755
Some questions will probably clarify if this is something we should look into or not:

1. What do the logs beforehand tell us about the state of the broker? Had it started? Had it gotten past the Spring Boot part? What's the last startup step it performed?
1. If you look at the Spring Boot code, why would this exception be thrown?

From these, what would be a fair conclusion? Should we investigate

[2020-11-04 15:37] Zelldon commented on #5688
I was able to break again the cluster, see [log](https://console.cloud.google.com/logs/viewer?interval=NO_LIMIT&authuser=1&project=zeebe-io&minLogLevel=0&expandAll=false&timestamp=2020-11-04T07:53:31.949181000Z&customFacets=&limitCustomFacetWidth=true&advancedFilter=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22zeebe-io%22%0Aresource.labels.location%3D%22europe-west1-b%22%0

[2020-11-04 15:52] korthout commented on #5755
@npepinpe I've taken a further look into this:

1. The broker had fully started (all 14 steps), event filters for exporters had just been set and then Spring info logs:

2. The javadoc for `java.lang.Runtime.addShutdownHook` states:

However, the logs don't show any info about a shutdown prior to the exception

<img width="1474" alt="Screenshot 2020-11-04 at 13 56 23" src="https://user-images.gith

[2020-11-04 15:54] npepinpe commented on #5755
So what's your recommendation for dealing with this issue? Should we close it? If we wanted to work on it, what's the expected outcome?

[2020-11-04 15:57] korthout commented on #5755
I have no good recommendation. I think the issue is caused by the test itself, but I don't know how to validate it.

[2020-11-04 15:58] korthout commented on #5755
I see no reason for this to be a Zeebe issue. The contract is clear about the situation. The JVM is shutting down.

[2020-11-04 15:58] npepinpe commented on #5755
Then please close the issue - thanks for looking into it :slightly_smiling_face:

[2020-11-04 15:59] #5755 closed

[2020-11-04 16:10] Zelldon commented on #5688
I added a new functionality to `zdb` to print the complete log. Now we can directly inspect the log. (https://github.com/Zelldon/zdb/commit/7407098b11cd92eeab901cdc0303773558eaf5ea)

Unfortunately it is to big to upload here, but I will now check the logs.

[2020-11-04 16:12] Zelldon commented on #5688
I searched for the deployment key and found something interesting:

[code]

[2020-11-04 16:32] Zelldon commented on #5688
We can see we have **TWO** `CREATE-CREATED` command-event pair's. The first pair is at pos. `96424` and `96425` the second one is at `101382` and `101393`.

If we take a look at the log again, then we can see that:

 * Broker-1 starts from snapshot at position `96866` and is able to reprocess successfully, because it is **after** the first CREATE-CREATED pair.
 * Broker-0 is not able to reprocess

[2020-11-04 17:06] Zelldon commented on #5688
Still this not explains why it fails with the same snapshot right? See above comment https://github.com/zeebe-io/zeebe/issues/5688#issuecomment-720401612

But I have an idea why this can happen. I think it is similar to the previous one where we have multiple `CREATE-CREATED` pairs.

 * Broker-0 starts with an earlier snapshot and fails because he sees both
 * Broker-1 starts at a later point, so

[2020-11-05 05:40] jetdream opened #5762 "Unstable order of exported records for messages - CORRELATED before PUBLISHED"
It is not documented but it looks as a common sense - messages should be first **PUBLISHED** and after that might be **CORRELATED**.
But currently I see in export stream that sometimes messages are **CORRELATED** before being **PUBLISHED**.

Run into this problem when implemented handling of uncorrelated messages.
In my project I need a special handling for messages which were not caught by proces

[2020-11-05 07:38] korthout commented on #5755
@npepinpe I've been thinking about this a bit more, and we actually still try to shutdown gracefully when we can't add the shutdown hook because of already shutting down. https://github.com/zeebe-io/zeebe/blob/6956b2c4b84740892a27f2265dcb43571ed2e9e3/dist/src/main/java/io/zeebe/broker/StandaloneBroker.java#L59
Something like:
[code]
WDYT? Would this be useful?

[2020-11-05 07:49] Zelldon opened #5763 "Client should accept the job to send complete command"
**Is your feature request related to a problem? Please describe.**

Currently in the java client we need to write:

[code]

For me it is annoying to always write `.getKey()`. It should be clear that I want to complete that job the client can handle that also internally.

**Describe the solution you'd like**

I suggest that we overload the method and also accept the complete job.

[code]

**Describ

[2020-11-05 08:02] korthout opened #5764 "io.netty.channel.unix.Errors$NativeIoException: bind(..) failed: Address already in use"
**Summary**

Many different tests fail once in a while because of `io.netty.channel.unix.Errors$NativeIoException: bind(..) failed: Address already in use`.

I know the issue is already discussed multiple times in individual flaky test issues, but I'd like to open this issue to find a solution to the bigger problem, rather than fix each individual flake.

**Failures**
<details><summary>Example sta

[2020-11-05 08:39] npepinpe commented on #5745
Current assumption is these are different - the truncation should be synchronized with the close on the Raft thread, so I think the second case is a bit more complicated, whereas this one is more straight-forward that we close the storage first.

[2020-11-05 11:19] deepthidevaki commented on #5736
Taking snapshot too frequently can lead to high memory usage.

I have been running a two cluster with same configuration - except one with snapshot period = 1m and the other with snapshot period = 15m.

Results for snapshotPeriod=15m:

From old to new
At 02:26
[code]

[code]

[code]
At 11:45
[code]
![image](https://user-images.githubusercontent.com/1997478/98234578-f3a60f80-1f60-11eb-95ca-835f1c92

[2020-11-05 12:08] deepthidevaki commented on #5736
Also running a benchmark with the following additional rocksdb config. These configs are not exposed, so had to change the code.

[code]

At 00:00
[code]

At 12:04
[code]
![image](https://user-images.githubusercontent.com/1997478/98239294-feb06e00-1f67-11eb-93eb-60fe0884b98a.png)

[2020-11-05 12:12] npepinpe commented on #5736
Well this isn't behaving at all as expected :sweat_smile: I thought write buffer manager would limit the total memtable size across the whole DB to 256Mb...did I misunderstand the setting?

[2020-11-05 12:23] deepthidevaki commented on #5736
There are 3 partitions, btw.

[2020-11-05 12:36] npepinpe commented on #5736
That's still less than the usage we're seeing. I have a feeling this is misconfigured, sorry for passing on those settings :see_no_evil:

[2020-11-05 13:02] deepthidevaki commented on #5736
Looks like the memory usage by rocksdb in the cluster with snapshotPeriod = 15m is capped.
[code]

While the cluster with snapshotPeriod=1m is still increasing
[code]

[2020-11-05 16:33] #5759 closed

[2020-11-06 08:12] deepthidevaki commented on #5736
Update:

**Broker with snapshotPeriod = 1m**
[code]
![image](https://user-images.githubusercontent.com/1997478/98341875-d7ad7700-200f-11eb-8115-0e2b404787d0.png)

**Broker with snapshotPeriod=15m**
[code]
![image](https://user-images.githubusercontent.com/1997478/98341776-b3519a80-200f-11eb-91c6-431ad8b5c7fa.png)

**Broker with writeBufferManager, snapshotPeriod=1m**
[code]
![image](https://user-i

[2020-11-06 08:41] npepinpe commented on #5764
I'd like to wait and see how this will look like as we add more agents - if, however, this is still blocking, then we should invest time to track down the last remaining collisions. Please let me know if you (here this is a generic you :sweat_smile:) are blocked by this.

[2020-11-06 10:28] npepinpe opened #5770 "Persist paused state of stream processor across restarts"
**Is your feature request related to a problem? Please describe.**

At the moment, the upgrade procedure requires brokers to stop their processing for a short while - however, if these brokers are shutdown (gracefully or not, e.g. node eviction or pod pre-emption), they will restart and may resume processing, which negates the whole procedure. At the same time, we'd like to provide tools to automa

[2020-11-06 13:54] korthout opened #5775 "AsyncSnapshotDirector. onCommitCheck throws NPE"
**Describe the bug**
A NullPointerException was thrown in AsyncSnapshotDirector. onCommitCheck.

Considering that code the only case is that `currentCommitPosition` is null, which can happen when the future was completed exceptionally.

Looking at the logs it appears that the `Broker-1-SnapshotDirector-1` started closing just before this happened. It was closing because the logstream raft partitio

[2020-11-06 14:59] Zelldon opened #5776 "To big Deployment can cause problems on distribution"
**Describe the bug**

If we reach with a deployment the `maxMessageSize` almost then we can get issues with the distributions, since the `CREATE` command which will be distributed contains more content then the initial `CREATE`. This means we deploy a workflow, which can only be started on partition one but not on other partitions.

**To Reproduce**

[code]

[model.zip](https://github.com/zeebe-io

[2020-11-06 15:37] korthout opened #5777 "BufferUnderflowException in JournalSegmentDescriptor during [7/14] cluster services"
**Describe the bug**
A BufferUnderflowException occurred during raft partition start (7/14 cluster services of broker start).

The buffer underflow occurs when the journalsegment descriptor is constructed by reading the meta data from the buffer. It occurs on the very first read from the buffer, so I think the buffer was actually empty.

The buffer was supposed to be filled by reading the segments

[2020-11-06 15:39] korthout commented on #5777
I've given this `Severity: High` because the error blocked the startup of a broker.

[2020-11-06 15:51] korthout commented on #5525
Linked [error](https://console.cloud.google.com/errors/CJ_PxYKiyLyp8QE?service=zeebe&time=P7D&project=camunda-cloud-240911&authuser=1) on camunda cloud.

[2020-11-06 16:11] korthout opened #5778 "java.io.IOException: Input/output error in MetaStore.storeVote while stepping down"
**Describe the bug**
A `java.io.IOException: Input/output error` occurred in `MetaStore.storeVote` while the broker was stepping down from being leader.

Some logs earlier indicate a potential network partition and this broker (Zeebe-2) was unable to send append requests to Zeebe-0 and Zeebe-1.

The actual reason for the IOException is a bit unclear to me, but atomix tries to write null as its vot

[2020-11-06 16:42] #5482 closed

[2020-11-06 17:06] npepinpe commented on #4942
From our point of view, we've achieved a substantial gain - I'd still like to wait and hear what users have to say, but I will already downgrade the priority and mark it as needs information for now.

[2020-11-06 17:17] npepinpe commented on #5268
I am closing this in favor of https://github.com/zeebe-io/zeebe/issues/5581 - let me know if you have any objections. I don't see how keeping this open is helping us in any way, as we can refer to it when working on the superseding issue.

[2020-11-06 17:17] #5268 closed

[2020-11-06 17:24] npepinpe commented on #4491
I'm downgrading this issue as we've made several improvements in terms of fast recovery, notably where it comes to snapshot replication. I'm leaving it open for a few weeks to allow all users involved to chime in, but if we still have no activity I will close this issue.

[2020-11-06 19:23] Zelldon commented on #3988
Regarding

We can now find this issue via https://github.com/zeebe-io/zeebe/wiki/Zeebe-Research Thats why I will close this

[2020-11-06 19:23] #3988 closed

[2020-11-06 19:44] #5753 closed

[2020-11-06 19:44] #5688 closed

[2020-11-08 15:10] npepinpe commented on #5186
This is fixed in 0.25.0, not sure why it wasn't picked up - I guess I forgot to link the PR with the issue? Anyway, closed by #5454

[2020-11-08 15:21] npepinpe opened #5783 "Error logged on no topology available in gateway and INTERNAL status returned to client"
**Describe the bug**

Found from the error reporting tool: https://console.cloud.google.com/errors/COfayLr3scKxFA?service=zeebe&time=P30D&project=camunda-cloud-240911

We currently return INTERNAL to clients if there is no topology available to the gateway. This is misleading, as INTERNAL indicates an unexpected and possibly unrecoverable error occurred in the gateway, which is not the case here s

[2020-11-08 16:49] aivinog1 opened #5784 "Link to Java client and Go client docs in the README is broken"
**Description**

In the readme, these links are broken: https://github.com/zeebe-io/zeebe/blob/460fe55c83c5120d42763bff260f063afcef40a2/README.md#L43-L44

[2020-11-08 17:42] npepinpe opened #5786 "Time out and no long polling if no topology available in gateway"
**Describe the bug**

While playing around with different deployments, I ran into an issue where if the gateway is up before the brokers (which is the common case on a cluster wide restart), it may have no topology when it starts serving requests. If it gets an activate jobs command, it will hit the long polling handler, but it will not add it to the state or attempt to do anything with the reques

[2020-11-08 18:21] npepinpe opened #5787 "Check for topology validity instead of whether or not it is null"
**Description**

There are several instances in the gateway where we check if we have a topology, which boils down to a simply null check - either the topology manager has one, or it doesn't. When we have one, we assume many things about it, such as that there are brokers, and there are partitions, etc. This leads to errors at times (e.g. division by zero when we have no partitions), and having a

[2020-11-08 18:23] npepinpe opened #5788 "Deadline exceeded on publish message due to ArithmeticException"
**Describe the bug**

It's possible to sometimes have a non-null topology with no known partitions. This results in a repeated division by zero error when trying to determine the destination partition of a message, which eventually is returned as a DEADLINE_EXCEEDED error as the transport retries the request.

**To Reproduce**

In order to reproduce it, start a gateway with no brokers connected to

[2020-11-08 18:30] npepinpe opened #5789 "Resource exhausted on create workflow instance if no topology available"
**Describe the bug**

When sending a create workflow instance command, if the gateway does not know any partitions, it will return RESOURCE_EXHAUSTED even though it didn't actually try to send anything. The correct code to send here would be UNAVAILABLE to accurately reflect the state of the system.

**To Reproduce**

Start a gateway with no brokers connected, wait until there is a non-null topolo

[2020-11-08 18:44] npepinpe commented on #2501
Blocked by #4554

[2020-11-08 19:04] aivinog1 commented on #5723
@npepinpe Hi! I'm thinking about taking this one to deep dive into the workflow processing (and maybe even Simple monitor :)). What do you think about it? :)

[2020-11-08 20:24] npepinpe commented on #5786
I would propose waiting until #5791 is merged, as it will set the base for this one.

[2020-11-09 08:07] npepinpe commented on #5702
I would propose fixing this once #5791 is merged, as it will be easier to test by simply adding a test case to the existing IT.

[2020-11-09 08:09] EEM86 commented on #5702
I've seen it is done. Sorry, had a busy week.

[2020-11-09 08:13] npepinpe commented on #5702
It's not done yet, but the PR I referenced will help simplify the implementation here, so I just proposed we wait for that PR to be merged. No rush :slightly_smiling_face:

[2020-11-09 08:17] npepinpe commented on #3666
Sorry for the very late reply, but no, I would say this isn't high priority at the moment.

[2020-11-09 08:22] npepinpe commented on #3520
Maybe you can help me understand here a little - is this not covered at all any more? Not even partially? And what made it hard to test exactly?

[2020-11-09 08:23] npepinpe commented on #4430
Downgrading this for now as it doesn't not block our daily work.

[2020-11-09 08:25] npepinpe commented on #4002
Let's not spend time on this any more except in the context of @deepthidevaki's current work investigating the memory usage of Zeebe (if it seems relevant to that, of course). I will downgrade the priority here, but keep it open because it may still be a valid solution to our memory issues - this will depend on the findings from @deepthidevaki.

[2020-11-09 08:26] npepinpe commented on #4555
Downgrading as this is not critical for our current OKRs.

[2020-11-09 08:27] npepinpe commented on #4560
Downgrading, as while this is important to figure out, it does not impact our own production environment (thanks pre-emptible nodes), and as such isn't critical to our OKRs.

[2020-11-09 08:29] npepinpe commented on #4586
Sorry for the dumb question, but what is the behaviour that is currently not covered by our tests that we would like to cover with this issue?

[2020-11-09 08:29] npepinpe commented on #4656
I'm closing this for now as we've never managed to reliably reproduce it and get more information; feel free to reopen should this happen again.

[2020-11-09 08:29] #4656 closed

[2020-11-09 08:33] npepinpe commented on #5775
Impact greatly lowered once we fix https://github.com/zeebe-io/zeebe/issues/5117

[2020-11-09 08:38] npepinpe commented on #5776
What does the user/client see in this case? Is this something users can "fix"?

[2020-11-09 08:54] npepinpe commented on #5778
Even though it's unclear what the root cause is, as we're trying to write to disk here, we should definitely handle IOExceptions instead of just letting it bubble up.

[2020-11-09 09:08] npepinpe commented on #5604
Switching to needs information, as it's unclear to me what is the outcome here? What do we want to achieve?

[2020-11-09 09:23] npepinpe commented on #5620
I think I figured out what happened - the exporter director fails initially due to no disk space left on device. It seems starting a transaction causes RocksDB to write something to disk, which is a little strange but out of scope for this issue.

You can see this from this log statement:

[code]

As you can see from our code (on 0.24.4 anyway), we initialize the exporter position and then open it

[2020-11-09 09:24] npepinpe commented on #5620
I'm upping the severity as this causes us to be unable to export any data, and out of disk space may not always be the reason why we fail to open an exporter.

[2020-11-09 09:30] npepinpe commented on #4671
Is this still the case after the refactoring? I think we now abort previous replications, so I think this would be fixed? In either case, I don't see this as high priority in my opinion, as it does not immediately help us with our current OKRs.

[2020-11-09 09:31] npepinpe commented on #4856
I'm downgrading this to mid until we make a decision on whether or not standalone gateway will be the deployment for Cloud GA.

[2020-11-09 09:37] MiguelPires commented on #5625
@npepinpe we can leave it as it's already closed but https://github.com/zeebe-io/zeebe/pull/5630 didn't address the source of this bug. The issue is here https://github.com/zeebe-io/zeebe/blob/460fe55c83c5120d42763bff260f063afcef40a2/clients/go/pkg/worker/jobPoller.go#L80 and here https://github.com/zeebe-io/zeebe/blob/460fe55c83c5120d42763bff260f063afcef40a2/clients/go/pkg/worker/jobPoller.go#L87

[2020-11-09 09:40] korthout commented on #5604
@npepinpe This issue just archives some findings from profiling, most notably the pattern of increased time spend on rocksdb (looking for jobs to activate) over the duration of an hour.

[2020-11-09 09:53] npepinpe commented on #4879
As we've achieved our current performance goals for this quarter, I'm downgrading this. I'm not closing it however as I think there's merit to it and we should get around to digging more into this.

[2020-11-09 09:54] npepinpe commented on #4940
I'm downgrading this for now, and would rather we focus on https://github.com/zeebe-io/zeebe/issues/5764. I'll keep this opened however so we don't lose visibility that this test is flaky (to avoid duplicates, for example).

[2020-11-09 09:56] npepinpe commented on #5004
Downgrading this as it doesn't seem to be affecting us so much these days. Once our infra ticket to expand tracking which tests are flaky goes through, we can go over all flaky tests and close those which have no occurred in a long time (TBD).

[2020-11-09 09:58] npepinpe commented on #4956
We're currently tracking FNI/s, which is great; the last step needed to do before GA is to verify that we can maintain the promised throughput under load for each cluster type. This may be something we can achieve by including the load tests in the testbench (though unsure how we would measure the FNI/s with the testbench - maybe @pihme has some ideas there).

[2020-11-09 09:58] #5783 closed

[2020-11-09 09:58] #5788 closed

[2020-11-09 09:58] #5789 closed

[2020-11-09 10:02] Zelldon commented on #4671
It is still the case.

[2020-11-09 11:07] npepinpe opened #5793 "Testing ignore"
**Description**

A clear and concise description of what this issue is about.

[2020-11-09 11:07] #5793 closed

[2020-11-09 11:08] npepinpe commented on #5793
:+1: Seems to work - removed the status label but kept the priority (also lol the bot adding it afterwards :see_no_evil: )

[2020-11-09 11:10] npepinpe commented on #5080
Downgrading as this isn't something we need to tackle now - however, if anybody is involved in an incident where this would've unblocked them or helped them diagnose something earlier, please let me know.

[2020-11-09 11:25] npepinpe commented on #5113
Downgrading for now and marking this as needs stakeholder input, primarily because it's unnecessary for Camunda Cloud and only affects users deploying Zeebe by themselves, so needs some PM input on the priority.

[2020-11-09 11:26] npepinpe commented on #5315
Can we consider this done? If so please close :slightly_smiling_face:

[2020-11-09 11:26] npepinpe commented on #5231
I'm downgrading this in favor of the linked issue, however keeping it opened to avoid losing visibility on it (e.g. for deduplication).

[2020-11-09 11:27] npepinpe commented on #5182
I'm downgrading this in favor of the linked issue, however keeping it opened to avoid losing visibility on it (e.g. for deduplication).

[2020-11-09 11:31] npepinpe commented on #5537
After investigation, it seems there is a big performance impact when replacing Kryo with SBE in microbenchmarks, and a moderate impact in our normal load test when under medium/low load. Under high load, however, there was little impact, which seems to suggest that other parts of the software act as a bottleneck.

So while we should still replace Kryo in my opinion (for this and other reasons, suc

[2020-11-09 11:32] npepinpe commented on #5537
Downgrading for now - I will post a more thorough results analysis, but for now this is effectively not a high prio issue.

[2020-11-09 13:31] npepinpe commented on #5120
@menski I would downgrade this right now as it's mostly for on-prem customers, however it may be useful for the Operate team - is this something that would greatly help the Operate engineers?

[2020-11-09 13:32] npepinpe commented on #5122
I'm downgrading this as it's currently primarily for on-prem users, and I'd like us to work on the runbook/troubleshooting guide first (which may partially solve this)

[2020-11-09 13:34] npepinpe commented on #5608
I assume this is in part to use them in the testbench?

[2020-11-09 13:34] npepinpe commented on #5582
As mentioned in the PR, for now I will close this and we will write a new issue to update the upgrade guide once we have a solution for it.

[2020-11-09 13:34] #5582 closed

[2020-11-09 15:10] npepinpe commented on #5488
I had a look, this happened because we tried to take a snapshot, which failed due to out of disk space - we then tried to roll this back, which failed because we couldn't delete the snapshot that we never took.

So impact is minimal, other than noise in terms of errors. What I would like here is that we handle this case - if we failed to create the snapshot, there should be nothing to roll back (o

[2020-11-09 15:13] korthout commented on #5315
Let's close this and open a new milestone issue if this becomes a bigger topic again at some later time.

[2020-11-09 15:13] #5315 closed

[2020-11-09 15:17] npepinpe commented on #5337
Hi @sergeylebed, sorry for the slow response, I have some questions to better understand what happened, though I imagine after so much time you may not have all the information any more unfortunately.

Broker 0 is missing a partition, which implies partition 3 is the one which died on the broker. Do you have any logs related to it which show it going inactive? It would specifically say something l

[2020-11-09 15:18] npepinpe commented on #5581
I'm assigning it to @saig0 for now for myself so I can track who's working on it, and that there is someone working on it.

[2020-11-09 15:19] npepinpe commented on #5569
Let's focus on https://github.com/zeebe-io/zeebe/issues/5117 for now and the refactor @MiguelPires is working on, which should set the foundation for this issue to be fixed as well.

[2020-11-09 15:21] npepinpe commented on #5525
I'm downgrading this, as while I still think this is necessary for GA, it's not necessary immediately.

[2020-11-09 15:50] npepinpe commented on #5727
/cc @menski

[2020-11-09 15:53] npepinpe commented on #5675
Hey @MiguelPires, can you assess severity here? I understand doing this may sometimes lead to deadlocks, for example - what is the worse case scenario for us?

[2020-11-09 16:47] Zelldon commented on #5120
Disagree that this is only for on-prem. We had related incidents in Camunda Cloud especially on Game Days and turned out that most of the people didn't know about the concept, which why we created issues for it. So the target group would include us.

[2020-11-09 16:49] MiguelPires commented on #5675
I don't think this can hurt us much or at least I don't see how. That mutex is a put in MessageState specifically to make govet flag this to prevent people from copying the struct. I also need to look into why golangci went quiet, I don't remember how it worked but we can use github actions https://github.com/golangci/golangci-lint-action

[2020-11-09 16:50] npepinpe commented on #5120
Hm, i figured internally the Zeebe team was aware of this, and my main concern was with other teams at camunda (e.g. Operate). Do you think this is knowledge thats not shared by everyone in the core team, and/or that its something that's also important for teams other than operate?

[2020-11-09 16:50] Zelldon commented on #5122
Disagree that this is only for on-prem. This wad an out come from a game day and we thought it would be quite useful for SREs but also us. So the target group would include us.

[2020-11-09 16:53] npepinpe commented on #5122
Do you think creating the runbook and the troubleshooting guide would not cover these cases? I figured those would cover our internal use cases (i.e. SRE, tech support, etc.), and this issue would then be more for our on prem user docs.

[2020-11-09 16:56] Zelldon commented on #5120
It is important for everyone since it is not obvious that instances are not progressing anymore, especially if you look at operate. But we have open issues to add indications to operate too. I think we shared some knowledge with the Gamedays but cant say that everyones knows about it.

[2020-11-09 16:59] npepinpe commented on #5120
Do you think a runbook/troubleshooting guide would also cover this? I mention both here as I'm working on setting this up this weekend in the sre team's repo.

[2020-11-09 17:09] Zelldon commented on #5120
Sounds good👍

[2020-11-09 22:18] sergeytest2014 commented on #5337
Hi @npepinpe , unfortunately, no logs are preserved from that incident. The problem was that the cluster stuck in this state for a long, that we lost our hope on self-recovery. As far as I remember, we had to delete all the data on node-0 and several time restarted the cluster and eventually it came to life.

[2020-11-09 22:23] sergeylebed commented on #5337
Hi @npepinpe , unfortunately, no logs are preserved from that incident. The problem was that the cluster stuck in this state for a long, that we lost our hope on self-recovery. As far as I remember, we had to delete all the data on node-0 and several time restarted the cluster and eventually it came to life.

[2020-11-09 22:39] sergeylebed commented on #5384
Hi @npepinpe , sorry for a long reply, it used the standalone gateway. No logs are saved.

[2020-11-10 07:10] saig0 commented on #5727
@cmrenus thank you for raising this up!

I don't understand your requirement completely. Assuming that you have a workflow with 2 service tasks in sequence.

The workflow instance is created with a variable "x". The first service task has an input mapping that creates a local variable "y". The job is completed with a variable "z".

When you open the workflow instance in Operate then you see both v

[2020-11-10 07:15] saig0 commented on #5719
Thank you for raising this up @jwulf  :+1:
I like the idea. But I'm not sure if this repository is the best place for it because the linter depends on the modeler.

[2020-11-10 07:22] saig0 commented on #5762
@jetdream thank you for raising this up!

We need more information to analyze the behavior. On the log stream, a message is always published before it gets correlated. If the message is published with a TTL > 0 then it can be correlated later again when a new message subscription is opened.

Which exporter do you use?
Which sequence of records do you get exactly? Please share.
How to reproduce the

[2020-11-10 07:57] deepthidevaki commented on #5513
Version: zeebe:0.25.0
[code]

[2020-11-10 08:22] saig0 commented on #5686
@josvegit thank you for reporting!

Please share more details about your environment (e.g. the docker-compose file) and the configuration of your job workers.

Anything that helps to analyze the behavior.

Could be related to #3367

[2020-11-10 08:34] npepinpe commented on #5513
We observed this occurs during transitions, so the assumption is the impact is quite low (as the node could not commit this snapshot anyway as it's transitioning) and the pending snapshot is later removed normally.

[2020-11-10 09:30] #5638 closed

[2020-11-10 10:50] korthout opened #5804 "UpgradeTest.upgradeWithoutSnapshot is flaky"
**Summary**

UpgradeTest.upgradeWithoutSnapshot failed and then completed successfully. It failed because a workflow instance was not completed in time. https://ci.zeebe.camunda.cloud/blue/organizations/jenkins/zeebe-io%2Fzeebe/detail/staging/2472/

- How often does the test fail? at least once
- Does it block your work? I had to retry
- Do we suspect that it is a real failure? unknown

**Failures

[2020-11-10 11:38] #4867 closed

[2020-11-10 12:07] #5711 closed

[2020-11-10 14:04] npepinpe commented on #5804
I think I know the issue, and hope I can fix it with https://github.com/zeebe-io/zeebe/issues/5385

[2020-11-10 14:04] deepthidevaki opened #5805 "NullPointerException in LogStreamReaderImpl"
**Describe the bug**

[log](https://console.cloud.google.com/logs/viewer?expandAll=false&timestamp=2020-11-10T08%3A54%3A54.120000000Z&dateRangeStart=2020-11-10T07%3A54%3A54.120Z&dateRangeEnd=2020-11-10T09%3A54%3A54.120Z&project=camunda-cloud-240911&minLogLevel=0&customFacets&limitCustomFacetWidth=true&advancedFilter=resource.type%3D%22k8s_container%22%0Aresource.labels.pod_name%3D%22zeebe-2%22%0Ar

[2020-11-10 14:05] deepthidevaki commented on #5805
Probably fixed by #5480 because it fixes the closing order.

[2020-11-10 19:42] #4853 closed

[2020-11-10 19:42] #5483 closed

[2020-11-10 21:08] berndruecker commented on #3544
+1

[2020-11-11 05:50] aivinog1 opened #5806 "Make Go client integration tests build on Mac OS"
**Description**

I see that Go tests are not enabled on Mac OS: https://github.com/zeebe-io/zeebe/blob/425b2615be79cddbcb8faf439c5fc97a128687ff/clients/go/cmd/zbctl/main_test.go#L190-L194. But I think that we can try to enable on Mac OS

[2020-11-11 08:13] deepthidevaki commented on #5387
This occurs again in 0.25.0.

[code]

It indicates that client has closed the connection. It might have happened because of a real network issue or client has crashed or shutdown. Other possibility is that grpc connection timeout is not long enough to include the longpolling timeout. Hence the connection get closed before long polling connection is closed.

[2020-11-11 08:41] npepinpe commented on #5805
@MiguelPires can we tell if this was fixed by #5480?

[2020-11-11 09:23] #3124 closed

[2020-11-11 10:29] Zelldon opened #5810 "RocksDB Log file seems to grow unlimited"
**Describe the bug**

[Reported by an user in slack](https://zeebe-io.slack.com/archives/C6WGNHV2A/p1605086440397500?thread_ts=1603343832.203000&cid=C6WGNHV2A):

![image (2)](https://user-images.githubusercontent.com/2758593/98800598-ebdae500-2410-11eb-91ef-bcf7037523dc.png)

![zee1pvc](https://user-images.githubusercontent.com/2758593/98800690-07de8680-2411-11eb-8f80-e24c2ac36d89.png)
![zee2pvc](

[2020-11-11 15:06] Zelldon opened #5812 "Do not retry on rejection during job activation"
**Describe the bug**

_Was part of a [chaos day](https://github.com/zeebe-io/zeebe-chaos/tree/master/chaos-days/2020-11-11)_

First I missed the `.WorkerName` in the activation command and this broke somehow the activation.
In the client I got either timeouts or resource exhausted responses, but in the gateway I saw that the worker name is missing.

**Gateway output:**

[code]

**Client output:**

[2020-11-11 16:29] MiguelPires commented on #5805
I don't know why but I can't open the link to the logs, so I can't really tell what's happening here. The refactor made the closing of steps sequential but I can't see what the issue here is.

[2020-11-11 17:55] #5806 closed

[2020-11-12 02:21] molilanxi opened #5815 "zeebe Log time"
zeebe log time is UTC，I want to change to CST

[2020-11-12 08:02] aivinog1 commented on #5741
@npepinpe Hi! I would like to take this one since I've created this :)

[2020-11-12 08:17] npepinpe commented on #5741
It's all yours :slightly_smiling_face:

[2020-11-12 08:34] npepinpe commented on #5810
iirc this is a simple setting in RocksDB to configure the log file size and the rolling behaviour. What I'm not sure of is how we would even test this, but the fix itself I think is quite simple.

[2020-11-12 08:41] npepinpe commented on #5812
Expected behaviour would be that when activating a job, if it is rejected, we should not try again and return the rejection to the client.

Then as a follow up, I understood the worker name should be optional and mostly used for debugging purposes; please also make sure it is optional. Feel free to split this into two issues as well.

[2020-11-12 08:48] npepinpe opened #5819 "Job worker name should be optional"
**Describe the bug**

Split away from https://github.com/zeebe-io/zeebe/issues/5812 - the job worker name is currently optional in the Java and Go clients as we provide a default client side, but there is no reason to enforce its presence on the broker as well, as its primarily used for debugging purposes. As we document it for clients as optional, we should also accept that it is absent on the br

[2020-11-12 08:50] #5784 closed

[2020-11-12 10:18] RedUno opened #5820 "Node struggling to recover after OOMKilled"
### Environment
**Zeebe version**: 0.24.3
**Environment**: K8s
**Cluster size**: 3 (_dca3_, _dcg3_, _dce1_)
**Partitions number**: 3
**Exporter**: elasticsearch
**Memory limit**: 8GB
**CPU Limit**: No limit

### Description
One of the three node (_dcg3_) restarted after an OOMKilled and it couldn't recover after several hours, all nodes started to raise error.
**dcg3**
[code]
 **dca3**
[code]
**dc

[2020-11-12 10:30] deepthidevaki opened #5821 "NullPointerException in ProcessMessageStartEventMessageNameValidator"
**Describe the bug**

Found following error in a production cluster.
[log](https://console.cloud.google.com/logs/viewer?expandAll=false&timestamp=2020-11-12T06%3A50%3A55.633000000Z&dateRangeStart=2020-11-12T05%3A50%3A55.633Z&project=camunda-cloud-240911&minLogLevel=0&customFacets&limitCustomFacetWidth=true&advancedFilter=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22camunda

[2020-11-12 10:36] saig0 commented on #5821
Is this a duplicate of #5510?

[2020-11-12 10:48] deepthidevaki opened #5824 "NullPointerException in ElasticsearchExporter.close"
**Describe the bug**

No big impact. It happened when broker was shutdown before bootstrap was completed.
[log](https://console.cloud.google.com/logs/viewer?expandAll=false&timestamp=2020-11-11T19%3A21%3A42.875000000Z&dateRangeStart=2020-11-11T18%3A21%3A42.875Z&dateRangeEnd=2020-11-11T20%3A21%3A42.875Z&project=camunda-cloud-240911&minLogLevel=0&customFacets&limitCustomFacetWidth=true&advancedFilte

[2020-11-12 16:14] deepthidevaki commented on #5821
Oops. Yes.
Closing as duplicate of #5510

[2020-11-12 16:14] #5821 closed

[2020-11-12 16:16] deepthidevaki commented on #5510
Observed this in Camunda cloud/ prod/ 0.25.1

[log](https://console.cloud.google.com/logs/viewer?expandAll=false&timestamp=2020-11-12T06%3A50%3A55.633000000Z&dateRangeStart=2020-11-12T05%3A50%3A55.633Z&project=camunda-cloud-240911&minLogLevel=0&customFacets&limitCustomFacetWidth=true&advancedFilter=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22camunda-cloud-240911%22%0Areso

[2020-11-12 18:11] aivinog1 commented on #462
@menski @Zelldon Hi! I would like to take this one.

[2020-11-13 08:34] deepthidevaki commented on #5499
Happens when transitioning to a new role while receiving a snapshot. Transitioning is done first in Raft, while the the services for old role is still running in zeebe side.

[code]

Impact is that this node does not receive this snapshot. Otherwise broker continues to work with no problem.

[2020-11-13 08:51] npepinpe commented on #5510
Note, this would require the upgrade process if we were to back port it as it may change the records being written.

[2020-11-13 08:53] npepinpe commented on #5824
Prioritized as low as the impact is mostly noise, since the broker was already unavailable from the user point of view.

[2020-11-13 08:54] npepinpe commented on #5499
Prioritized as mid, even though the impact is quite low, this is an issue that highlights the problems we have with our asynchronous transitions and how the distributed layer interacts with the application layer.

[2020-11-13 10:19] korthout commented on #5590
Resolved with #5817 and #5831

[2020-11-13 10:19] #5590 closed

[2020-11-13 13:00] pihme opened #5842 "Fix editorconfig"
The `.editorconfig` file contains a declaration that is syntactically incorrect:

`[*.dsl,*.groovy,Jenkinsfile*]`

It is not possible to enumerate globs like this.

Either there is a different way to enumerate them, or this section needs to be split up in three sections.

The more delicate part is then in applying the new formatting.

VS Code was the most pleasant tool to do that, because when ind

[2020-11-13 13:01] aivinog1 commented on #2574
@npepinpe Hi! I would like to take this.

[2020-11-13 13:37] npepinpe commented on #2574
Sure, let me know if you have any questions. The actor scheduler isn't the most straightforward part of the code :wink:

[2020-11-13 14:24] aivinog1 commented on #2004
@npepinpe Hi, again :) I think I can take this too

[2020-11-13 14:39] npepinpe commented on #2004
Sure, but as the solution wasn't 100% clear, it would help avoid review frictions if you outline your idea here before opening a PR :slightly_smiling_face:

[2020-11-13 15:06] #5741 closed

[2020-11-13 16:06] Zelldon opened #5845 "Zbctl reports job completed and unable to complete at the same time"
**Describe the bug**

I recently found a weird behavior were it seems I **completed** a job twice and on the third time I though it failed to complete. But after looking at the logs more closely I saw that failed to complete and completed was logged at the same time.

**Example:**

[code]

The issue is here https://github.com/zeebe-io/zeebe/blob/develop/clients/go/cmd/zbctl/internal/commands/creat

[2020-11-13 16:23] npepinpe opened #5846 "Use ManagedVolume in RollingUpdateTest instead of shared CI folder"
**Description**

With https://github.com/zeebe-io/zeebe/pull/5816, we can now reuse volumes across container restarts in a way that we can ensure these are cleaned up even if the JVM crashes. We should use those as it's simpler than sharing a folder between the host and the guest system.

[2020-11-13 16:25] npepinpe opened #5847 "Use ManagedVolume in DiskSpaceRecoveryITTest"
**Description**

We should use ManagedVolume in the DiskSpaceRecoveryITTest to avoid having dangling volumes in case the JVM crashes. While these are tmpfs mounts and not persisted if the host restart, if the JVM crashes they are still dangling and may eat up the memory of the host. This is however only really a problem with repeated crashes on a local machine, and not really an issue in CI where

[2020-11-13 16:32] npepinpe commented on #5847
Blocked until https://github.com/zeebe-io/zeebe/pull/5816 is merged.

[2020-11-15 19:48] Zelldon commented on #5815
Please elaborate on this. Why do you want this what is the use case? What are the alternatives and why they are not working for you? About which log we talking about ? The log where the data (records) is stored? Or the log where we write log statements via log4j (debug, warning and error logs)?

[2020-11-15 19:50] Zelldon commented on #5498
Duplicate of https://github.com/zeebe-io/zeebe/issues/5497

[2020-11-15 19:50] #5498 closed

[2020-11-16 06:47] aivinog1 commented on #2004
@npepinpe Hi! I have gone through the code and I want such a solution to propose:

1. Create an interface `ElasticClientHttpAsyncClientBuilderProvider` with the method `HttpAsyncClientBuilder provide()`
2. Create a static class `ElasticClientConfiguration` as an inner class of `io.zeebe.exporter.ElasticsearchExporterConfiguration` with a property `private String httpAsyncClientProviderClass;` that

[2020-11-16 08:21] aivinog1 commented on #5845
@Zelldon Hi! I see that this isn't prioritized yet, but I think that a solution is simple and I would like to take that :)

[2020-11-16 08:29] Zelldon commented on #5845
Sounds good 👍

[2020-11-16 08:32] aivinog1 opened #5849 "ZeebeStyle.xml for IDEA respects Go fmt rules"
**Description**

Right now [ZeebeStyle.xml](https://github.com/zeebe-io/zeebe/blob/develop/build-tools/src/main/resources/intellij/ZeebeStyle.xml) doesn't respect formating that does Go fmt tool. Needs to improve that file.

[2020-11-16 08:38] npepinpe commented on #5549
Closing as duplicate of https://github.com/zeebe-io/zeebe/issues/5549

[2020-11-16 08:38] #5549 closed

[2020-11-16 08:39] Zelldon commented on #5549
@npepinpe I think you referenced the wrong issue :)

[2020-11-16 08:40] npepinpe commented on #5549
Haha you're right :see_no_evil: Meant this one https://github.com/zeebe-io/zeebe/issues/5755

[2020-11-16 08:58] npepinpe commented on #5496
This occurred again today. Here's a rough timeline:

2020-11-15 07:14:39 - partition 6 starts closing leader services
2020-11-15 07:14:40 - partition 4 starts closing leader services
2020-11-15 07:14:40 - partition 6 starts installing follower services
2020-11-15 07:14:40 - partition 1 starts closing leader services
2020-11-15 07:14:40 - partition 2 starts closing leader services
2020-11-15 07:14:

[2020-11-16 09:27] npepinpe commented on #5499
Looks like it also occurs when going the other way - see [here](https://console.cloud.google.com/errors/CKXP0fvJlryXMA?service=zeebe&time=P7D&project=camunda-cloud-240911). Looking at the logs, we see the node is leader and tries to commit a snapshot as it's transitioning to follower, which causes the pending snapshot to be deleted at the same time.

[2020-11-16 09:44] korthout opened #5851 "Reuse build artifacts on different build agents"
**Description**

Since #5717 the IT stage of the ci pipeline is executed on another build agent. However, since build artifacts are not shared by default, the build artifacts had to be build a second time on the agent running the IT stage. To speed up the ci pipeline, we should reuse build artifacts when using a different build agent.

[2020-11-16 10:08] pihme commented on #5555
# What happened
* One broker was in the process of shutting down
* Apparently the event receiving executor was already shutdown
* Events could not be received anymore
* shutdown completed normally
* broker restarted again successfully

## Log trace:

https://console.cloud.google.com/logs/query;query=logName:%22stdout%22%0Aresource.type%3D%22k8s_container%22%0Aresource.labels.cluster_name%3D%22ultr

[2020-11-16 10:22] #5845 closed

[2020-11-16 10:58] aivinog1 commented on #3544
Hi to all :) While my PRs reviewed I can start working on this :) But I'm suggesting splitting this issue into the Go part and the Java part. If you fine with it and this issue is free to take, I will create two issues that I mentioned earlier and start working on it :)

[2020-11-16 11:00] berndruecker commented on #3544
Great offer @aivinog1 - thanks for the hands! Please make sure to consult with @menski beforehand as we are currently discussing developer experience in the Camunda Cloud context which influences this topic.

[2020-11-16 11:01] menski commented on #3544
Hi @aivinog1, we are currently rethinking the structure and content of this JSON file to work with Camunda Cloud. Therefore I would not implement it as described before. I can try to write down a new proposal today or tomorrow, to get some input on it.

[2020-11-16 11:03] aivinog1 commented on #3544
@berndruecker @menski Thanks, I will wait for a new proposal to start working on it :)

[2020-11-16 14:35] #5385 closed

[2020-11-16 15:31] #4833 closed

[2020-11-16 17:08] pihme opened #5854 "Failing chaos test experiemnt follower-restart on testbench"
**Describe the bug**
The follower-restart chaos test failed for Production - L as part of daily tests.

Failed due to

`[run:507] Steady state probe 'Should be able to create workflow instances on partition 3' is not in the given tolerance so failing this experiment`

**Log/Stacktrace**

<details><summary>Chaos Worker Log</summary>
 <p>

[code]

</p>
</details>

**Environment:**
 - OS: Linux
 - Ze

[2020-11-16 17:09] pihme commented on #5854
Cluster was kept alive for analysis

[2020-11-16 17:16] pihme opened #5857 "Failing chaos experiment leader-restart on Production-S"
**Describe the bug**
The leader-restart chaos test failed on the testbench in a daily run.

**Log/Stacktrace**

<details><summary>Chaos Worker Log</summary>
 <p>

[code]

</p>
</details>

**Environment:**
 - OS: Linux
 - Zeebe Version: 0.25.1
 - Configuration: Camunda Cloud - Production - S

[2020-11-16 18:53] #5397 closed

[2020-11-17 02:43] power522 opened #5859 "The following error occurred while running and all handlers are unavailable"
![image](https://user-images.githubusercontent.com/38269154/99339728-a4959e00-28c1-11eb-88e6-545eb1088624.png)

[2020-11-17 08:20] pihme opened #5860 "ResetState: No case for Member type BOOTSTRAP"
**Describe the bug**
Found in error logs on production

https://console.cloud.google.com/errors/CK6E2NXBnJHVzgE?service=zeebe&time=P7D&project=camunda-cloud-240911

**Log/Stacktrace**
Report location resetState (RaftMemberContext.java:86)

**Environment:**
 - OS: Linux
 - Zeebe Version: 0.23.6
 - Configuration: Camunda Cloud

[2020-11-17 08:22] pihme commented on #5860
Probably related to old BOOTSTRAP Raft thingy

[2020-11-17 08:25] pihme opened #5861 "NPE in AbstractAppender.buildAppendRequest"
**Describe the bug**
Observed in production logs

**Log/Stacktrace**
If possible add the full stacktrace or Zeebe log which contains the issue.

<details><summary>Full Stacktrace</summary>
 <p>

[code]

</p>
</details>

**Environment:**
 - OS: Linux
 - Zeebe Version: 0.23.6
 - Configuration: Camunda Cloud

[2020-11-17 08:57] pihme commented on #5859
@power522 Could you please provide details on:
Which version of Zeebe?
What was your setup (how many brokers, partitions, replication facotr?, did you use a standalone gateway?)

[2020-11-17 09:30] pihme commented on #5820
@deepthidevaki I could use you wonderful "making sense of logs" gift. Would you be available for a pair triaging some day this week?

[2020-11-17 09:32] pihme commented on #5547
Wrong log level.

[2020-11-17 09:33] pihme commented on #5545
wrong log level

[2020-11-17 09:44] pihme commented on #5543
- Happened during broker restart
- It looks like the broker was able to restart despite the error

https://console.cloud.google.com/logs/query;query=logName:%22stdout%22%0Aresource.type%3D%22k8s_container%22%0Aresource.labels.cluster_name%3D%22excitingdev%22%0Aresource.labels.namespace_name%3D%2259d17aad-3cb7-4c0e-8ce2-73f5d188e147-zeebe%22%0Aresource.labels.container_name%3D%22zeebe%22%0Aseverity

[2020-11-17 09:48] pihme commented on #5542
Occurred only once

[2020-11-17 09:51] pihme commented on #5538
most likely wrong log level

[2020-11-17 09:57] pihme commented on #5520
This seems to have been a very special state. Going by the logs
- the broker was trying to start up
- during startup there was an exception in one partition
- this triggered an immediate shutdown (while startup had not completed yet)
- during shutdown this NPE happened

Most likely the startup was not completed fully and so the exporter was not properly set up.

[2020-11-17 12:39] pihme commented on #5519
Looks like a misconfiguration or a DNS problem.

In any case, I don't think there is much we can do here from Zeebe side.

[2020-11-17 12:39] Zelldon opened #5864 "Print zbctl status as json"
**Is your feature request related to a problem? Please describe.**
Currently we print the topology of the cluster via `zbctl status` and it looks like this:

[code]

This is totally fine for a human beeing, but not if you what to process it.

**Describe the solution you'd like**

It would be cool if we had a flag or something where we can tell `zbctl` to print the topology as json.

**Describe alt

[2020-11-17 12:39] pihme commented on #5519
@npepinpe I would propose to close this as invalid.

[2020-11-17 14:21] pihme commented on #5820
# Analysis

Broker 0 was restarted
- restart stopped in phase 7/11
- then 10 hours of nothing
- 5 minute step timeout did not kill the launch

Broker 2 is leader for partition 1 and 2
- couldn't reach node 0 for about two minutes (during node 0 restart)
- after 2 minutes, it was able to communicate with node 0 again -> partition 1 follower on node 0 was up (RAFT server was started)

Broker 1 is le

[2020-11-17 14:30] pihme commented on #5514
Exporter was unable to export. This happened 5 minutes after startup. After this error the broker shuts down (not sure if it is related to the error, but strange nonetheless)

[2020-11-17 14:34] pihme commented on #5512
system retired export and recovered on its own

[2020-11-17 16:24] Zelldon opened #5865 "Failed to obtain access token with zbctl"
**Describe the bug**
Run zbctl on different clusters and have an experied token for one.

Output:
[code]

Credentials:
[code]

Zbctl version: https://github.com/zeebe-io/zeebe/tree/eb43e285f8161fa5db8df7dfbad3fb6b80b7e862
[code]
**To Reproduce**
Invalid token

**Expected behavior**
It works.

[2020-11-17 20:10] Zelldon opened #5866 "Improve Zbctl create worker help"
**Description**

When using the zbctl to create a worker we are able to set some flags, like the timeout of the job activation, but it is not clear from the help what the unit is and how the parameter should look like.
[code]

Is timeout a number? A String which unit?
After using it it complains about missing unit.
[code]

Adding an s or ms seems to work. I think we can improve here.

[2020-11-18 02:48] cameronbraid commented on #4391
Another very important use case is starting on a single server with a low partition count (possibly 1) then wanting to add two new servers to get high availability and better scalability.  Would need to increase the partition count.  In this case, an offline process would suffice.  i.e. go offline, take backup, run a job to remap the new partitions, brind new cluster up.

At the moment we are in t

[2020-11-18 05:43] power522 commented on #5859
Zeebe version is 0.23.4,3 Broker, attached to the configuration file, is there any problem with my configuration?
The start command is “nohup sh bin/broker &”

[code]

[2020-11-18 08:21] #5770 closed

[2020-11-18 08:21] Zelldon opened #5867 "Could we support an observe request"
Not sure whether it is a feature request or just a question, but in the morning I had an idea I want to explain here.

**Is your feature request related to a problem? Please describe.**

We currently have the issue that Zeebe is kind of a black box you put things in, which might trigger specific other things but what actually is happening you don't know. To get knowledge about that you need to dep

[2020-11-18 08:45] npepinpe commented on #5514
Let's verify if the Elastic client needs to be reopened if the connection is closed, or if we closed the client in Zeebe and tried to reuse it.

[2020-11-18 08:51] npepinpe commented on #5517
Need to verify if the partition transitioned to inactive, or the exception was caught and the operation retried.

[2020-11-18 08:54] npepinpe commented on #5538
This should be logged as a warning, and maybe we should improve the message so it's clearer what this means.

[2020-11-18 08:57] npepinpe commented on #4766
Related to https://github.com/zeebe-io/zeebe/issues/5540

[2020-11-18 09:01] npepinpe commented on #5542
For now, let's focus on improving the error message here, but let's keep it as an error.

[2020-11-18 09:07] npepinpe commented on #5519
This looks like the DNS issues the cloud team have been struggling with. I'll ping them to have a look, and if we can confirm this then we can close it on our side.

[2020-11-18 09:11] npepinpe commented on #5512
Looks like it primarily needs to be a warning then - this should be covered in https://github.com/zeebe-io/zeebe/issues/5564. I would propose closing this then since that issue has already been solved.

[2020-11-18 09:11] #5512 closed

[2020-11-18 09:13] npepinpe commented on #5511
Closing as it unfortunately hasn't happened in 30 days, meaning we've lost the logs for this issue. I will keep that in mind for the future when it comes to triaging/root causing in issue - apologies that we didn't get around to it sooner.

[2020-11-18 09:13] #5511 closed

[2020-11-18 09:51] #5851 closed

[2020-11-18 10:19] npepinpe commented on #5519
It could be related, unclear yet; however, we should still handle this error gracefully (as someone may have misconfigured, as you mentioned). I would propose this is in the same vein as a connection exception (i.e. could be temporary) and we should log it as a warning.

[2020-11-18 10:21] npepinpe commented on #5519
Additionally this is currently retried, so recoverable as far as I can tell.

[2020-11-18 10:38] npepinpe commented on #5860
You can ignore this, this is related to the update test we were doing and I was doing evil things in the cluster (e.g. deleting files). I should have mentioned this might happened, sorry :see_no_evil:

[2020-11-18 10:38] #5860 closed

[2020-11-18 11:32] MiguelPires commented on #5865
I can't reproduce this neither on the commit eb43e285 nor on develop. Was this a persistent failure? Also, why is this a `good first issue`?

[2020-11-18 11:33] Zelldon commented on #5865
Because I hoped this is an easy fix :) Did you had a expired token?

[2020-11-18 11:34] npepinpe commented on #5505
Looking at the looks we get the following timeline:

[2020-11-17 14:22:39 - zeebe-0 runs out of disk space](https://console.cloud.google.com/logs/query;pinnedLogId=2020-11-17T13:22:39.486596Z%2Fc7vydng2i7c3wd;query=logName:%22zeebe%22%0Aresource.type%3D%22k8s_container%22%0Aresource.labels.cluster_name%3D%22ultrachaos%22%0Aresource.labels.namespace_name%3D%220a8e8f1d-e7f2-4e75-a305-76a3b9001ab5-ze

[2020-11-18 12:17] MiguelPires commented on #5865
Yes, I corrupted the token but it was refreshed as you'd expected. Did this happen persistently or was it a one-off?

[2020-11-18 12:21] Zelldon commented on #5865
Currently not sure how often I retried. I deleted the token to overcome this.

[2020-11-18 12:36] MiguelPires commented on #5865
I was thinking that if it was just that one time it might be that the auth server took too long once. We can wait to see if it happens again